{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load staticfiles %}

{% block content %}
<style type="text/css">
    .front_end_controller{
        width: 100%;
        height: 100vh;
        background-color: darkgrey;
        margin-top: -80px;
    }

    .info_table{
        width:100%;
    }
    .graph_row{
        margin-top: 20px;
        background-color: darkgrey;
        width: 100%;
        height:76%;
        margin-left: 00px;
        border-top:solid black 1px;
    }
    .profit_graph{
        width:50%;
        height:100%;
    }
    .spread_graph{
        width:50%;
        height:100%;
    }
    .button-on{
        background-color:steelblue;
        border-color: solid black 5px;
        color:white;
    }
    .button-pressed{
        background-color:#444444;
        color:white;
    }
    .button-off{
        background-color:#666666;
        color:white;
    }
    input{
        margin-left:30px;
        margin-top:20px;
    }
    .inputs{
        margin-top:160px;
        width: 10%;
        height: 100%;
    }
    .line {
        stroke: steelblue;
        stroke-width: 3.5px;
        fill: none;
    }
    g{
        color:  grey;
        stroke-width: 2px;
        fill: none;

    }
    /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #1fd15a;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1fd15a;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.my_line{
  stroke:steelblue;
  stroke-width:2px;
}

.others_line{
  stroke:rgb(2, 3, 4);
  stroke-width:2px;
}

.green_bar{
  fill:#6edd68;
  opacity: 0.5;
}
.blue_bar{

}

body {
    padding: 10px;
    /*height: 100%;*/
    /*width: 100%;*/
    /*background-color: red;*/
}

/*#slider {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    height: 180px;
}*/

#slider {
    /*margin: auto;*/
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 450px;         /*how to make this not a floating number*/
    height: 50px;
}

.ui-slider {
    border-radius: 0;
}

.ui-slider .ui-slider-handle {
    display: none;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    border-radius: 0;
    background: none;
    background-color: rgb(26, 73, 232);
}

.slider-spread-indicators {
    position: absolute;
    z-index: 1;
    right: -5px;
    bottom: 0;
    border-top: 2px solid black;
    width: 10px;
}

#slider-container {
    float: center;
    width: 100%;
    height: 50%;
    padding-top: 10px
}

#slider-val {
    margin: auto;
    width: 50px;
    display: block;
}

#buttons-container {
    /*text-align: left;*/
    /*float: left;*/
    float: center;
    width: 70%;
    height: 100%;
    padding: 10px;
}


#graph-controls {
    margin-top: 20px;
}

#data-container {
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
}

.status-table {
    margin-top: 20px;
    height: 50%;
    background-color: white;
    /*overflow: auto;*/
    border: 1px solid rgb(200, 200, 200);
}

/*styles for table state indication entries
  capital is to make it work better with ng-style*/
.state-label-Snipe {
    background-color: rgba(200, 79, 34, .5);
}

.state-label-Maker {
    background-color: rgba(26, 73, 232, .5);
}

.state-label-Out {
    background-color: rgba(110, 110, 110, .5);
}

.status-display {
    margin-top: 15px;
}

.data-heading {
    margin-top: 20px;
    text-align: center;
    background-color: white;
}

.speed-label {
    font-size: 24px;
    margin-bottom: 5px;
}

.state-label {
    font-size: 24px;
}

.spread-label {
    font-size: 24px;
}

.ui-container {
    margin-bottom: 60px;
}

.top-left-screen {
    border: rgb(200, 200, 200) 2px solid;
    /*background-color: rgb(230, 230, 230);*/
    background-color: white;
    z-index: 100;                           /*test for adding invisible slider*/
}

.top-right-screen {
    margin-left: 25px;
    border: rgb(200, 200, 200) 2px solid;
    background-color: rgb(230, 230, 230);
}

.bottom-left-screen {
    border: rgb(200, 200, 200) 2px solid;
    background-color: rgb(230, 230, 230);
}

.top-banner {
    /*margin-bottom: 5px;*/
    border: rgb(200, 200, 200) 2px solid;
    background-color: rgb(230, 230, 230);
    width: 100%;
}

.profit-graph-container {
    height: 500px;
    margin: 40px;
    width: 70%;
    /*border: rgb(200, 200, 200) 1px solid;*/
    background-color: rgb(230, 230, 230);
}

.user-graph-container {
    height: 500px;
    margin: 20px;
    width: 20%;
    /*border: rgb(200, 200, 200) 1px solid;*/
    background-color: rgb(230, 230, 230);
}

.table{
    table-layout : auto;
    padding-bottom: 0px;
}

.control-container {
    height: 500px;
    width: 10%;
    /*border: rgb(200, 200, 200) 1px solid;*/
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container-state {
    background-color: rgb(230, 230, 230);
    padding-bottom: 5px;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.button-container-speed {
    background-color: rgb(230, 230, 230);
    flex: 1 1 auto;
}

.graph-screen-wrapper {
    height: 225px;  /*changed from 450 on 7/26/17 for displaying a smaller graph*/
    margin: 40px;
}

.screen-wrapper {
    height: 450px;
    margin: 40px;
}

.screen {
    width: 100%;
    height: 100%;
}


.button-container-spread {
    border: 1px solid rgb(200, 200, 200);
    padding: 10px;
}

.state-selected {
    color: white;
    border: 2px solid black;
}

#state_out.state-selected {
    background-color: rgb(110, 110, 110);
}

#state_snipe.state-selected {
    background-color: rgb(200, 79, 34);
}

#state_maker.state-selected {
    background-color: rgb(26, 73, 232);
}

.state-not-selected {
    color: white;
    border: 2px solid gray;
    background-color: gray;
}

.row {
    padding: 0px;
    margin: 0px;
}

[class*="col-"] {
    padding: 0px;
    margin: 0px;
}

/*material switch css*/
/*stolen from http://bootsnipp.com/snippets/featured/material-design-switch*/

.material-switch > input[type="checkbox"] {
    display: none;
}
.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
    text-align: left;
    /*switch color*/
    background-color: green;
}
.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
.material-switch > input[disabled] + label {
    cursor: not-allowed;
}

/*
    Below this line is css for profit-graph
*/

    .time-grid-box-dark {
        fill: rgb(211, 211, 211);
    }

    .time-grid-line-text {
        fill: rgb(150, 150, 150);
        font-size: 10px;
        -webkit-user-select: none;
        cursor: default;
    }

    .price-grid-line {
        stroke: rgb(230, 230, 230);
        stroke-width: 1;
    }

    .price-grid-line-zero {
        stroke: rgb(168, 168, 168);
        stroke-width: 1;
    }

    .price-grid-line-text {
        fill: rgb(150, 150, 150);
        font-size: 10px;
        -webkit-user-select: none;
        cursor: default;
    }

    .my-profit-out {
        stroke: rgb(110, 110, 110);
        stroke-width: 3;
    }

    .my-profit-snipe {
        stroke: rgb(200, 79, 34);
        stroke-width: 3;
    }

    .my-profit-maker {
        stroke: rgb(26, 73, 232);
        stroke-width: 3;
    }

    .my-positive-profit {
        stroke: green;
        stroke-width: 2;
    }

    .my-negative-profit {
        stroke: red;
        stroke-width: 2;
    }



</style>
<div class="front_end_controller">
    <table class="info_table" style="width:100%" >
        <strong>
        <!-- Row 1 of info box -->
        <tr>
            <td class="info_text">Player ID:            <span id="player_id"></span></td>
            <td class="info_text">Number of Traders:    <span id="num_traders"></span></td>
            <td class="info_text">Role:                 <span id="player_role"> </span> </td>
            <td class="info_text">Fundamental Value:    <span id="fp"></span></td>
        </tr>
        <!-- Row 2 of info box -->
        <tr>
            <td class="info_text">Period:               <span id="period_id"></span></td>
            <td class="info_text">Number of Makers:     <span id=num_makers></span></td>
            <td class="info_text">Spread:               <span id="spread_value"></span> </td>
            <td class="info_text">Current Buy Offer:    <span id="curr_bid"></span></td>
        </tr>
        <!-- Row 3 of info box -->
        <tr>
            <td class="info_text">Speed Cost:           <span id="speed_cost"></span></td>
            <td class="info_text">Number of Snipers:    <span id="num_snipers"></span></td>
            <td class="info_text">Your Profit:          <span id="profit"></span></td>
            <td class="info_text">Current Sell Offer:   <span id="curr_ask"></span></td>
        </tr>
        </strong>
    </table>
    <div class="row graph_row" style="width:100%; height:100%;">

        <svg id="profit-graph"  style="width:60%; height:100%; background-color: white; border-left:solid black 1px;">
            <!-- tradingGraph.expandedGraph? -->
                <!-- <span class="zoom-in" id="profit-zoom-in" ng-class="{'zoom-disabled': tradingGraph.expandedGraph}">+</span> -->
                <!-- <span class="zoom-out" id="profit-zoom-out" ng-class="{'zoom-disabled': tradingGraph.expandedGraph}">-</span> -->
        </svg>


        <svg id="spread-graph" style=" width:25%; height:100%; margin-left:10px; background-color: white;"></svg> 
        <div class="inputs">
          <input id="maker" value="maker" class="button-off" type="button" style="width:80px" ></input>
          <br>
            <input id="sniper" value="sniper" class="button-off" type="button" style="width:80px" ></input> 
            <br>
            <input id="out" value="out" class="button-on" type="button" style="width:80px"></input>
            <br>

            <p  style="text-align: center; margin-left: 30px; margin-top:50px;">Speed</p>
            <label class="switch" style="margin-left: 40px; margin-top: -5px;" >
                <br>
                <input type="checkbox" onclick="updatespeed()">
                <span class="slider round"></span>
            </label>
        </div>

    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="https://d3js.org/d3.v5.js"></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="https://momentjs.com/downloads/moment-timezone.min.js"></script>
<script>

/*Front End Javascript for start.html*/
/*Handles the Button Logic and the Graph shown in start.html*/

window.onload = function () {

    // Establish websocket variables
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    var socket = new WebSocket(ws_scheme + '://' + window.location.host + "/hft/{{group.id}}/{{player.id}}/");

    // Handle any errors that occur.
    socket.onerror = function (error) {
        console.log('WebSocket Error: ' + error);
    };

    // Show a connected message when the WebSocket is opened.
    socket.onopen = function (event) {
        console.log('Client has connected to django channels');
    };

    // Handle messages sent by the server.
    socket.onmessage = function (event) {
        var obj = jQuery.parseJSON(event.data);
        if(obj.FPC != undefined){
            $('#fp').html(obj.FPC);

        }else if(obj.EXEC != undefined){
            console.log("Received a profit from execution: " +  obj.EXEC);
            var timeNow = getTime() - graph.timeOffset;


            graph.profitJumps.push(
                {
                    timestamp:timeNow,
                    oldProfit:graph.profit,
                    newProfit:graph.profit + obj.EXEC, 
                }
            );
            graph.profit += obj.EXEC;

            graph.profitSegments.push(
                {
                    startTime:timeNow,
                    endTime:timeNow, 
                    startProfit:graph.profit, 
                    endProfit:graph.profit,
                    state:$("#player_role").text()
                }
            )
        } 

        // switch statement on type of data parsed from event
    };

    // Show a disconnected message when the WebSocket is closed.
    socket.onclose = function (event) {
        console.log('disconnected from oTree');
    };




    /*
        Set as many info box default values as possible from initial data

    */
    $('#player_id').html({{player.id_in_group}});
//     $('#period_id').html(1);
//     $('#speed_cost').html(0);

//     $('#num_traders').html({{Constants.players_per_group}});
//     $('#num_snipers').html(0);
//     $('#num_makers').html(0);
    
    $('#player_role').html('OUT');
//     $('#spread_value').html('N/A');
//     $('#profit').html(20);

// //-> buggyas fuc,k    // $('#fp').html(player.fp);
//     $('#curr_bid').html('N/A');
//     $('#curr_ask').html('N/A');


    // On load global var? Terrible
    var speed = false;
    // global variable 
    var graph = {};

    // Called on click to toggle input
    updatespeed = function () {
        speed = !speed;
        if(speed){
            $('#speed_cost').html({{Constants.speed_cost}});
        }else {
            $('#speed_cost').html(0);
        }
        var timeNow = getTime() - graph.timeOffset;
        graph.profitSegments.push(
            {
                startTime:timeNow,
                endTime:timeNow, 
                startProfit:graph.profit, 
                endProfit:graph.profit,
                state:$("#player_role").text()
            }
        );

        var msg = {
            type: 'speed_change',
            id: {{player.id}},
            id_in_group: {{player.id_in_group}},
            speed: speed
        };
        if (socket.readyState === socket.OPEN) {
            socket.send(JSON.stringify(msg));
        }
    }


    document.getElementById("maker").onclick = function () {
        if ((document.getElementById("maker").className == "button-off") && (document.getElementById("maker").className != "button-pressed")){
            //IF BUTTON IS NOT PRESSED OR ON THEN TURN IT ON AFTER DELAD (Button_Pressed())
            $("#maker").toggleClass('button-off button-pressed');
            $('#player_role').html('MAKER');

            var timeNow = getTime() - graph.timeOffset;
            graph.profitSegments.push(
                {
                    startTime:timeNow,
                    endTime:timeNow, 
                    startProfit:graph.profit, 
                    endProfit:graph.profit,
                    state:$("#player_role").text()
                }
            );

            var msg = {
                type: 'role_change',
                id: {{player.id}},
                id_in_group: {{player.id_in_group}},
                state: "MAKER"
            };
            if (socket.readyState === socket.OPEN) {
              socket.send(JSON.stringify(msg));
            }

            Button_Pressed("maker");

            Spread_Graph.spread(); // Auto Input Spread
            Spread_Graph.drawMyLine(); // Auto input spread
        }
        $("#out").attr('class', 'button-off');
        $("#sniper").attr('class', 'button-off');
    };

    document.getElementById("sniper").onclick = function () {
        if ((document.getElementById("sniper").className == "button-off") && (document.getElementById("sniper").className != "button-pressed")){
            //IF BUTTON IS NOT PRESSED OR ON THEN TURN IT ON AFTER DELAD (Button_Pressed())
            $("#sniper").toggleClass('button-off button-pressed');
            $('#player_role').html('SNIPER');

            var timeNow = getTime() - graph.timeOffset;
            graph.profitSegments.push(
                {
                    startTime:timeNow,
                    endTime:timeNow, 
                    startProfit:graph.profit, 
                    endProfit:graph.profit,
                    state:$("#player_role").text()
                }
            );

            var msg = {
                type: 'role_change',
                id: {{player.id}},
                id_in_group: {{player.id_in_group}},
                state: "SNIPER"
            };
            if (socket.readyState === socket.OPEN) {
                socket.send(JSON.stringify(msg));
            }
            Button_Pressed("sniper");

            Spread_Graph.clear();
        }

        $("#maker").attr('class', 'button-off');
        $("#out").attr('class', 'button-off');
    };

  //OUT BUTTON
    document.getElementById("out").onclick = function () {
        if (document.getElementById("out").className == "button-off"){
            //IF THE BUTTON IS OFF TURN IT ON WITH NO DELAY
            $("#out").toggleClass('button-off button-on');
            $('#player_role').html('OUT');
            
            var timeNow = getTime() - graph.timeOffset;
            graph.profitSegments.push(
                {
                    startTime:timeNow,
                    endTime:timeNow, 
                    startProfit:graph.profit, 
                    endProfit:graph.profit,
                    state:$("#player_role").text()
                }
            );

            var msg = {
                type: 'role_change',
                id: {{player.id}},
                id_in_group: {{player.id_in_group}},
                state: "OUT"
            };
            if (socket.readyState === socket.OPEN) {
                socket.send(JSON.stringify(msg));
            }
            Button_Pressed("out");
            

            Spread_Graph.clear();
        }

        $("#maker").attr('class', 'button-off');
        $("#sniper").attr('class', 'button-off');
    };

    var button_timer;
    var graph_timer;
    function Button_Pressed(id_name){
        //Wait .5 seconds for button pressed to even for fast players
        // to eliminate spam clicking
        button_timer = setTimeout(Button_Change.bind(null,id_name),500);
    }
    function Button_Change(id_name){
        //TURNING BUTTON ON
        $("#"+id_name).toggleClass('button-pressed button-on');
    }


    var Spread_Graph = {};
    var Profit_Graph = {};

    var Other_Maker_lines = {};

    var n = 20; 
    var data = d3.range(17).map(function(d) { return  0}); //Testing Purposes
    var max_spread = 10; // Pull from Constansts
    var auto_spread = 2;


    // Functions for drawing choice box
    (function() {

        var spread_width = $("#spread-graph").width(),
          spread_height = $("#spread-graph").height(),
          spread_svg = d3.select("#spread-graph")
                      .attr("width", spread_width)
                      .attr("height", spread_height);


        function drawStartState(){
        spread_line = spread_svg.append("svg:line")
                       .attr("x1", spread_width/2)
                       .attr("y1", 0)
                       .attr("x2", spread_width/2)
                       .attr("y2", spread_height)
                       .style("stroke", "lightgrey")
                       .style("stroke-width", 5);

        spread_line_fundamental_price = spread_svg.append("svg:line")
                       .attr("x1", spread_width - (spread_width - 45))
                       .attr("y1", spread_height/2 - 90)
                       .attr("x2", spread_width - 45)
                       .attr("y2", spread_height/2 - 90)
                       .style("stroke", "grey")
                       .style("stroke-width", 5);

        }

        /***********************************************
        DEALING WITH MOUSE CLICKS ON THE SPREAD GRAPHS
        ************************************************/
        function svgClickListener(){
            spread_svg.on('click',function(d) { 
                role = $("#player_role").text();
                if(role == "Maker"){

                    //The dimensions the svg take up
                    spread_x = document.getElementById("spread-graph").getBoundingClientRect().left;
                    spread_y = document.getElementById("spread-graph").getBoundingClientRect().top;
                    console.log(spread_x+"," +spread_y);
                    //Where the grey middle line is
                    svg_middle_x = spread_width/2;
                    svg_middle_y = spread_height/2 - 90;

                    //The tuple in which the mouse is clicked within the svg 
                    spread_position = {x:(d3.event.clientX - spread_x),y:(d3.event.clientY - spread_y)};

                    //finding the distance from the mid
                    if(spread_position.y >= svg_middle_y){
                        distance_from_middle = spread_position.y - svg_middle_y;
                    } else {
                        distance_from_middle = svg_middle_y -spread_position.y ;
                    }
                    //Ratio between the distance and the mid
                    ratio = svg_middle_y / distance_from_middle;

                    //Spread is the ratio except in dollars which is what the actual spread is
                    money_ratio = max_spread/ratio;
                    my_spread = money_ratio.toFixed(2);

                    spreadChange(my_spread);
                    //Time to draw the lasers tat go into the spread graph

                    drawMySpreadLine(my_spread);
                }
            });
        }

        function drawMySpreadLine(my_spread = auto_spread){
            d3.selectAll(".my_line").remove();
            d3.selectAll("rect").remove();
            spread_y = document.getElementById("spread-graph").getBoundingClientRect().top;
            //Where the grey middle line is
            svg_middle_y = spread_height/2 - 90;

            money_ratio =  max_spread/my_spread;
            y_coordinate = svg_middle_y/money_ratio;
            // console.log(y_coordinate);
            //Ratio between the distance and the mid

            your_spread_line_top = spread_svg.append("svg:line")
                   .attr("x1", spread_width - 35)
                   .attr("y1", svg_middle_y - y_coordinate)
                   .attr("x2", spread_width)
                   .attr("y2", svg_middle_y - y_coordinate)
                   .attr("class","my_line");

            your_spread_line_bottom = spread_svg.append("svg:line")
                   .attr("x1", spread_width - 35)
                   .attr("y1", y_coordinate + svg_middle_y)
                   .attr("x2", spread_width)
                   .attr("y2", y_coordinate + svg_middle_y)
                   .attr("class","my_line");
            //WAIT FOR SPEED AND THEN SET THE SPREAD with the bar line

            addLineAnimation();

            setTimeout(function(d){
            drawSpreadBar(my_spread,svg_middle_y,y_coordinate);
            }, 500);

          //Timeout is whether or not speed is on
        }

        function addLineAnimation(){
            //SETTING THE SPREAD TO THE LINE
            spread_lines = d3.selectAll(".my_line");
            add_animation = spread_lines
                        .transition()
                        // duration is whether or not speed is on
                        .duration(500)
                        .attr("x1", 85)
                        .attr("x2", spread_width - 85);         
        }


        function drawOthersSpreadLine(my_spread, ordertoken_buy, ordertoken_sell, speed){
            spread_y = document.getElementById("spread-graph").getBoundingClientRect().top;

            //Where the grey middle line is
            svg_middle_y = spread_height/2 - 90;
            money_ratio =  max_spread/my_spread;
            y_coordinate = svg_middle_y/money_ratio;
            // console.log(y_coordinate);
            //Ratio between the distance and the mid

            your_spread_line_top = spread_svg.append("svg:line")
                   .attr("x1", spread_width - 35)
                   .attr("y1", svg_middle_y - y_coordinate)
                   .attr("x2", spread_width)
                   .attr("y2", svg_middle_y - y_coordinate)
                   .attr("class","others_line");


            your_spread_line_bottom = spread_svg.append("svg:line")
                   .attr("x1", spread_width - 35)
                   .attr("y1", y_coordinate + svg_middle_y)
                   .attr("x2", spread_width)
                   .attr("y2", y_coordinate + svg_middle_y)
                   .attr("class","others_line");

            // for removing when a transation occurs
            Other_Maker_lines[ordertoken_sell] = [your_spread_line_top, your_spread_line_bottom]
            Other_Maker_lines[ordertoken_buy] = [your_spread_line_top, your_spread_line_bottom]

            addOthersLineAnimation([your_spread_line_top, your_spread_line_bottom]);
            //Timeout is whether or not speed is on
        }

        function addOthersLineAnimation(lines){
            //SETTING THE SPREAD TO THE LINE
            for( i = 0; i < 2; i++){
                add_animation = lines[i]
                  .transition()
                  // duration is whether or not speed is on
                  .duration(500)
                  .attr("x1", 85)
                  .attr("x2", spread_width - 85); 
            }      
          
        }
  

        function drawTransactionBar(my_spread,svg_middle_y,y_coordinate,side){
            //take into account
            var bar_color = "green_bar";

            //if not other maker within the spread
            if(side === 'B'){
                your_bar_rect = spread_svg.append("svg:rect")
                    .attr("x", spread_width - (spread_width - 85) + 40)
                    .attr("y", svg_middle_y)
                    .attr("width", (spread_width - 220) / 2)
                    .attr("height", y_coordinate)
                    .attr("class",bar_color);
            } else if(side === 'S'){
                newY = y_coordinate * -1;
                your_bar_rect = spread_svg.append("svg:rect")
                        .attr("x", spread_width - (spread_width - 85) + 40)
                        .attr("y", svg_middle_y - y_coordinate)
                        .attr("width", (spread_width - 220) / 2)
                        .attr("height", y_coordinate)
                        .attr("class",bar_color);
            }
        }

        function drawSpreadBar(my_spread,svg_middle_y,y_coordinate){
            //take into account
            var bar_color = "";

            //if not other maker within the spread
            bar_color = "green_bar";
            your_bar_rect = spread_svg.append("svg:rect")
                       .attr("x", spread_width - (spread_width - 85))
                       .attr("y", svg_middle_y - y_coordinate)
                       .attr("width", spread_width - 170)
                       .attr("height", 2*y_coordinate)
                       .attr("class",bar_color);
        }

        function clearGraph(){
            d3.selectAll(".my_line").remove();
            d3.selectAll(".others_line").remove();
            d3.selectAll("rect").remove();
        }

        function removeOtherMakerLine(order_token){
            var lines_to_remove = Other_Maker_lines[order_token];
            lines_to_remove[0].remove();
            lines_to_remove[1].remove();

        }

        function spreadChange(my_spread = auto_spread){

            var msg = {
                type: 'spread_change',
                id: {{player.id}},
                id_in_group: {{player.id_in_group}},
                spread: my_spread
            };
            if (socket.readyState === socket.OPEN) {
                socket.send(JSON.stringify(msg));
            }
            $("#spread_value").text('+-$'+my_spread);
        }

        Spread_Graph.start = drawStartState;
        Spread_Graph.drawMyLine = drawMySpreadLine;
        Spread_Graph.drawOthersLine = drawOthersSpreadLine;
        Spread_Graph.animateLine = addLineAnimation;
        Spread_Graph.drawBar = drawSpreadBar;
        Spread_Graph.listen = svgClickListener;
        Spread_Graph.clear = clearGraph;
        Spread_Graph.spread = spreadChange;
    }());

Spread_Graph.start();
Spread_Graph.listen();

    /*
     * Debug variables
     */
    graph.debug = {
        "calcTimeGridLines"    :false,
        "secondTick"           :false,
    };


    /*
     * set of variables we added that were not part of the original solution
     */
    graph.maxSpread = 2000;

    /*
     * Set of variables we update from oTree
     */ 
    graph.startingWealth = 20000; 
    graph.profit = graph.startingWealth;                                           // Through Django Channels
    graph.adminStartTime = {{subsession.start_time}};           // Django Query

    /*
     * HTML Variables
     */
    graph.profitElementId = "profit-graph";                                     // id of the profit graph svg element
    graph.profitElementWidth = $('#' + graph.profitElementId).width();          // Width and height of the profit svg element
    graph.profitElementHeight = $('#' + graph.profitElementId).height();    
    
    /*
     * D3 variables
     */
    graph.profitSVG = d3.select('#' + graph.profitElementId);                   //profit svg element
    graph.curTimeX = 0;


    /*
     * Variables for time calculation
     */
    var nanoToSec = 1e9;
    var secToNano = 1e-9
    var million = 1e6;
    graph.timeOffset = 0;                                             //offset to adjust for clock difference between lab computers
    graph.timeInterval = 60e9;                                        //current amount in seconds displayed at once on full time axis
    graph.timeIncrement = 5e9;                                        // Amount in nanoseconds between lines on time x-axis
    graph.timeSinceStart = 0;                                         //the amount of time since the start of the experiment in nanoseconds
    graph.nanosecondPerPixel = 0;    //used                           // number of ms represented by one pixel
    graph.advanceTimeShown = 0;  //used                               // the amount of time shown to the right of the current time on the graph

    /*
     * Manifest deafult values
     */
    graph.slowDelay = 5e8;                                             // slow delay is 500 milliseconds = 5e8 nano
    graph.fastDelay = 1e8;                                             // slow delay is 100 milliseconds = 1e8 nano
    graph.startingWealth = 20000;

    // maybe spread on profit graph
    graph.priceRange = 10000;
    graph.maxPriceProfit = graph.startingWealth + (graph.priceRange / 2);
    graph.minPriceProfit = graph.startingWealth - (graph.priceRange / 2);
    graph.centerPriceProfit = (graph.maxPriceProfit + graph.minPriceProfit) / 2;
   
    /*
     * DataHistory object sets
     */
    // historyDataSet structure = [[startTime, endTime, startProfit, endProfit, state],...] 
    graph.profitSegments = [
        {
            startTime:graph.adminStartTime,
            endTime:graph.adminStartTime, 
            startProfit:graph.profit, 
            endProfit:graph.profit,
            state:$("#player_role").text()
        }
    ];

    graph.profitJumps = [
        // {
        //     timestamp:graph.adminStartTime + (30*nanoToSec),
        //     newProfit:graph.profit, 
        //     oldProfit:graph.profit + 2000,
        // }
    ];


//------------------------------------------------

    graph.axisLabelWidth = 40;    //used                                  //Width of area where price axis labels are drawn
    graph.graphPaddingRight = 20;  //used                                 // how far from the x axis label that the line stops moving
    graph.graphAdjustSpeedProfit = 10;                              //speed that profit price axis adjusts in pixels per frame
    graph.numberOfTicks = 10;
    graph.profitPriceGridIncrement = graph.priceRange / graph.numberOfTicks;                             //amount between each line on profit price axis
    
    graph.currentTime = 0;                                          // Time displayed on graph
    graph.profitPriceLines = [];                                    // The array of price lines
    graph.timeLines = [];
    graph.pricesArray = [];
   

    

    

    graph.marketZoomLevel = 4;                                      // current zoom level for each graph
    graph.profitZoomLevel = 4;
    graph.maxZoomLevel = 4;                                         // maximum allowed zoom level
    graph.zoomAmount = 0;                                           // amount zoomed per click

    graph.expandedGraph = false;
    graph.prevMaxPriceMarket = 0;                                   // storage for previous max and min values for when graph is in expanded mode
    graph.prevMinPriceMarket = 0;
    graph.prevMaxPriceProfit = 0;
    graph.prevMinPriceProfit = 0;

    graph.op = 1;                                                  //added 7/24/17 for adding opacity to transaction lines
    graph.currentTransaction = null;                               //added 7/24/17 for ensuring only the correct orders are drawn as transacted
    graph.currTransactionID = null;                                //added 7/24/17 for ensuring only the correct orders are drawn as transacted
    graph.heightScale = .4;                                        //added 7/26/17 to shift the height of the graph to fit buttons under
    graph.widthScale = 0;                                          //added 7/28/17 to widen the graphs of ticks to be better fit spread 
    graph.oldFundPrice = null;
    graph.FPCop = 1;
    graph.currSpreadTick = 0;
    graph.startTime = 0;
    graph.tickAnimationID = 0;
    graph.staticTickAnimationID = 0;
    graph.laser = true;                                            //magic
    graph.removeStartTime = 0;
    graph.removeAnimationID = 0;
    graph.removeStaticAnimationID = 0;
    graph.IDArray = [];

    graph.FPCswing = null;                                        //used for shifting spread ticks with FPC's
    graph.currentSellTick = [];
    graph.currentBuyTick = [];
    graph.PreviousProfit = 0;
    
     

    
    function calcPriceGridLines(maxPrice, minPrice, increment) {
        var gridLineVal = minPrice + increment - (minPrice % increment);
        // adjust for mod of negative numbers not being negative
        if(minPrice < 0){
            gridLineVal -= increment;
        }
        var lines = [];
        while (gridLineVal < maxPrice) {
            lines.push(gridLineVal);
            gridLineVal += increment;
        }
        return lines;
    };
    

    function calcTimeGridLines(startTime, endTime, increment) {

        if(graph.debug["calcTimeGridLines"]){
            console.log("Call to calculate calTimeGrindLines with scaled values\n   startTime:  " + (startTime / nanoToSec).toFixed(2) + 
                "\n   endTime:    " + (endTime / nanoToSec).toFixed(2) + 
                "\n   difference: " + ((endTime - startTime) / nanoToSec).toFixed(2) + 
                "\n   increment:  " + (increment / nanoToSec) + 
                "\n   adminStart: " + (graph.adminStartTime / nanoToSec).toFixed(2));
        }

        // var timeLineVal = startTime + increment;
        var timeLineVal = startTime - ((startTime - graph.adminStartTime) % increment);
        var lines = [];
        while (timeLineVal < endTime) {
            lines.push(timeLineVal);
            timeLineVal += increment;
        }

        if(graph.debug["calcTimeGridLines"]){
            console.log("Lines post computation: previous set of lines :-: computed set of lines ");
            for(i = 0; i < lines.length; i++){
                console.log("   [" + i + "]    " + ((graph.timeLines[i] - graph.adminStartTime) / nanoToSec).toFixed(2) + "  :-:  " + ((lines[i] - graph.adminStartTime) / nanoToSec).toFixed(2));
            }
        }


        return lines;
    };

    // return the number of nanoseconds since midnight
    // TODO FIND MORE ACCURATE NANO
    function getTime(){
        var now = new Date(),
        then = new Date(
        now.getFullYear(),
        now.getMonth(),
        now.getDate(),
        0,0,0),
        diff = now.getTime() - then.getTime(); // difference in milliseconds
        diff *= 1000000; // milli -> nano;
        return  diff; 
    };

    // returns percent along the x axis your timestamp is 
    function mapTimeToXAxis(timeStamp) {
        var percentOffset;
        if (graph.timeSinceStart >= graph.timeInterval) {
            percentOffset = (timeStamp - (graph.currentTime - graph.timeInterval)) / (graph.timeInterval);
        }else {
            percentOffset = (timeStamp - graph.adminStartTime) / graph.timeInterval;
        }
        return (graph.profitElementWidth - graph.axisLabelWidth - graph.graphPaddingRight) * percentOffset;   //changed 7/27/17
    };

    // return percent from
    function mapProfitPriceToYAxis(price) {
        // percent distance from maxPriceProfit
        var percentOffset = (graph.maxPriceProfit - price) / (graph.maxPriceProfit - graph.minPriceProfit);

        // value of the percent offset from top of graph
        return graph.profitElementHeight * percentOffset;      //changed 7/27/17 to fix profit graph
    };

    function calcPriceBounds() {
        //calc bounds for profit graph

        if (graph.profit > (.2 * graph.minPriceProfit) + (.8 * graph.maxPriceProfit) ||
            graph.profit < (.8 * graph.minPriceProfit) + (.2 * graph.maxPriceProfit)) {
            graph.centerPriceProfit = graph.profit;
        }

        // what is set now
        var curCenterProfit = (graph.maxPriceProfit + graph.minPriceProfit) / 2;

        if (Math.abs(graph.centerPriceProfit - curCenterProfit) > 1000) {
            graph.profitPriceLines = calcPriceGridLines(graph.maxPriceProfit, graph.minPriceProfit, graph.profitPriceGridIncrement);
            //adjust per frame what the max and min should be
            if (graph.centerPriceProfit > curCenterProfit) {
               graph.maxPriceProfit += graph.graphAdjustSpeedProfit;
               graph.minPriceProfit += graph.graphAdjustSpeedProfit;
            } else {
               graph.maxPriceProfit -= graph.graphAdjustSpeedProfit;
               graph.minPriceProfit -= graph.graphAdjustSpeedProfit;
            }
        }
    };

    function millisToTime(timeStamp) {
        // take nano to seconds
        var secs = (timeStamp - graph.adminStartTime) / nanoToSec;
        var mins = Math.trunc(secs / 60);
        secs %= 60;
        return mins + ":" + ("00" + secs).substr(-2, 2);
    };

    function drawTimeGridLines() {
        //Draw rectangles for time grid lines
        graph.profitSVG.selectAll("rect.time-grid-box-dark")
            .data(graph.timeLines)
            .enter()
            .append("rect")
            .filter(function (d) {
                // only draw elements that are an even number of increments from the start
                return ((d - graph.adminStartTime) / (graph.timeIncrement)) % 2 == 0;
            })
            .attr("x", function (d) {
               return mapTimeToXAxis(d);
            })
            .attr("y", 0)
            // width of a sinle timeIncrement should be 5 secs ?
            .attr("width", graph.timeIncrement / graph.timeInterval * (graph.profitElementWidth - graph.axisLabelWidth - graph.graphPaddingRight))   
            .attr("height", graph.profitElementHeight)
            .attr("class", "time-grid-box-dark");

         //Draw labels for time grid lines
         graph.profitSVG.selectAll("text.time-grid-line-text")
            .data(graph.timeLines)
            .enter()
            .append("text")
            .attr("text-anchor", "start")
            .attr("x", function (d) {
               return mapTimeToXAxis(d) + 5;
            })
            .attr("y", graph.profitElementHeight - 5)
            .text(function (d) {
               return millisToTime(d)
            })
            .attr("class", "time-grid-line-text");
    };

    function drawPriceGridLines(priceMapFunction) {
        //hack to fix problem with this not being set correctly for map function
        // priceMapFunction = priceMapFunction.bind(graphRefr);

        //Draw the lines for the price grid lines
        graph.profitSVG.selectAll("line.price-grid-line")
            .data(graph.profitPriceLines)
            .enter()
            .append("line")
            .attr("x1", 0)
            .attr("x2", graph.profitElementWidth - graph.axisLabelWidth)        //changed 7/27/17
            .attr("y1", function (d) {
                return mapProfitPriceToYAxis(d);
            })
            .attr("y2", function (d) {
                return mapProfitPriceToYAxis(d);
            })
            .attr("class", function (d) {
                return d != 0 ? "price-grid-line" : "price-grid-line-zero";
        });
    };

    function drawPriceAxis(){
        //Draw the text that goes along with the price gridlines and axis
        graph.profitSVG.selectAll("text.price-grid-line-text")
            .data(graph.profitPriceLines)
            .enter()
            .append("text")
            .attr("text-anchor", "start")
            .attr("x", graph.profitElementWidth - graph.axisLabelWidth + 12)  // << why this fuck is this 12
            .attr("y", function (d) {  
               return mapProfitPriceToYAxis(d) + 3;
            })
            .attr("class", "price-grid-line-text")
            .text(function (d) {
                return d;
        });
    };

    //draws profit line
    function drawProfit(historyDataSet, profitJumps) {
        graph.profitSVG.selectAll("line.my-profit-out line.my-profit-maker line.my-profit-snipe")
            .data(historyDataSet, function (d) {   

            // historyDataSet structure = [[startTime, endTime, startProfit, endProfit, state],...] 
               return d;
            })
            .enter()
            .append("line")
            .filter(function (d) {
               return d.endTime >= (graph.currentTime - graph.timeInterval);
            })
            .attr("x1", function (d) {
               return mapTimeToXAxis(d.startTime);
            })
            .attr("x2", function (d) {
               return mapTimeToXAxis(d.endTime);
            })
            .attr("y1", function (d) {
               return mapProfitPriceToYAxis(d.startProfit);
            })
            .attr("y2", function (d) {
               return mapProfitPriceToYAxis(d.endProfit);
            })
            .attr("class", function (d) {
               // a masterpiece // no fuck you
               return d.state == "OUT" ? "my-profit-out" : (d.state == "MAKER" ? "my-profit-maker" : "my-profit-snipe");
        });

        graph.profitSVG.selectAll("line.positive-profit line.negative-profit")
            .data(profitJumps)      
            // profitJumps structure = {timestamp:(nano), newPrice:(thousands), oldPrice:(thousands)}    
            .enter()
            .append("line")
            .filter(function (d) {
               return d.timestamp >= (graph.currentTime - graph.timeInterval);
            })
            .attr("x1", function (d) {
               return mapTimeToXAxis(d.timestamp);
            })
            .attr("x2", function (d) {
               return mapTimeToXAxis(d.timestamp);
            })
            .attr("y1", function (d) {
               return mapProfitPriceToYAxis(d.oldProfit);     //old profit
            })
            .attr("y2", function (d) {
               return mapProfitPriceToYAxis(d.newProfit);     //current profit
            })
            .attr("class", function (d) {
                  return d.oldProfit < d.newProfit ? "my-positive-profit" : "my-negative-profit";
            });   
    };


    function draw() {

        //Clear the svg elements
        graph.profitSVG.selectAll("*").remove();


        // the current time relative to the backend of otree; graph.timeOffset during the transition
        // is 0, but eventually we will calculate per player what the delay over django channels is 
        graph.currentTime =  getTime() - graph.timeOffset; 
        graph.timeSinceStart = graph.currentTime - graph.adminStartTime;



        // Print to console.log everytime a second occurs
        if((graph.previousTime != Math.trunc(graph.timeSinceStart / nanoToSec)) && graph.debug["secondTick"]){
            graph.previousTime = Math.trunc(graph.timeSinceStart / nanoToSec);
            console.log(graph.previousTime)
        } 

        graph.curTimeX = mapTimeToXAxis(graph.currentTime);

        // recalculate market price bounds
        calcPriceBounds();

        // recalculate if virtual right side of graph is more than a graph.timeIncrement past last graph.timeLine line
        var rightSideOfGraph = graph.timeLines[graph.timeLines.length - 1] + graph.timeIncrement;

        if (graph.currentTime + graph.advanceTimeShown > rightSideOfGraph){
            var startTime = graph.currentTime - graph.timeInterval;
            var endTime = graph.currentTime + graph.advanceTimeShown;
            graph.timeLines = calcTimeGridLines(startTime, endTime, graph.timeIncrement);
        }

        //Invoke all of the draw functions
        drawTimeGridLines();

        
        drawPriceGridLines();



        drawPriceAxis();
        
        /* *****************************************************************************
         * Data Structures present in Redwood front end, and need to be adapted to otree 
         ******************************************************************************/ 

        // historyDataSet = [[startTime, endTime, startProfit, endProfit, state],...] 
        // 2-D array where each index contains a different portion of the profit line *over the entire experiment*
        // Each index has a startTime (nano), endTime (nano), startProfit (thousands), endProfit (thousands) 
        graph.profitSegments[graph.profitSegments.length - 1]["endTime"] = graph.currentTime;
        
        var profitDecrement = 0;
        if(speed){
            profitDecrement = (graph.profitSegments[graph.profitSegments.length - 1]["endTime"] - graph.profitSegments[graph.profitSegments.length - 1]["startTime"]) * -1e-8;
        }


        graph.profitSegments[graph.profitSegments.length - 1]["endProfit"] = graph.profitSegments[graph.profitSegments.length - 1]["startProfit"] + profitDecrement;
        graph.profit = graph.profitSegments[graph.profitSegments.length - 1]["startProfit"] + profitDecrement;

        
        

        drawProfit(graph.profitSegments, graph.profitJumps);
        


        requestAnimationFrame(draw);
    };

    function init(startFP, startingWealth) {
        for(i = 2; i < arguments.length; i++){
            graph.debug[arguments[i]] = true;
        }

        graph.previousTime = 0;

        // nanoseconds per picxel 
        graph.nanosecondPerPixel = graph.timeInterval / (graph.profitElementWidth - graph.axisLabelWidth - graph.graphPaddingRight);   
        // the amount of nano taken up by the axisLabelWidth ad graphPadding riht
        graph.advanceTimeShown = graph.nanosecondPerPixel * (graph.axisLabelWidth + graph.graphPaddingRight);

        // collect an array of price values where the horizontal lines will be drawn
        graph.profitPriceLines = calcPriceGridLines(graph.maxPriceProfit, graph.minPriceProfit, graph.profitPriceGridIncrement);

        var endTime = graph.adminStartTime + graph.timeInterval + graph.advanceTimeShown
        graph.timeLines = calcTimeGridLines(graph.adminStartTime, endTime, graph.timeIncrement);
    };


    // First Functions
    // 10000 <- 
    var startFP = 10000;
    var startingWealth = 20000;

    init(startFP, startingWealth, "secondTick");

    requestAnimationFrame(draw)


}
</script>
{% endblock %}
 