{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load staticfiles %}

{% block styles %}
{% endblock %}
{% block content %}
<div ng-controller="HFTStartController">
    <!--Top Data Banner-->
    <div class="top-banner" style="border:solid black 2px; background-color: lightgrey;">
        <table class="table" style="width:100%" >
            <tr>
                <td class="status-display">Group # GROUP NUMBER</td>
                <td class="status-display">Number of Traders: NUMBER TRADERS</td>
                <td class="status-display">Role: Maker/Sniper/Out</td>
                <td class="status-display">Fundamental Value: FUNDAMENTAL VALUE PRICE</td>
            </tr>
            <tr>
                <td class="status-display">Period # CURRENT PERIOD</td>
                <td class="status-display">Number of Makers: NUMBER MAKERS / FAST</td>
                <td class="status-display">Spread: SPREAD OF MAKER </td>
                <td class="status-display">Current Buy Offer: CURRENT BUY OFFER</td>
            </tr>
            <tr>
                <td class="status-display">Speed Cost: SPEED COST / Second</td>
                <td class="status-display">Number of Snipers: NUMBER SNIPERS / FAST</td>
                <td class="status-display">Your Profit: RUNNING PROFIT</td>
                 <td class="status-display">Current Sell Offer: CURRENT SELL OFFER</td>
            </tr>
        </table>
    </div>

    <!-- bottom of the ui -->
    <div class="row" style="border:solid black 5px;">
        <!-- graph the profit -->
        <div class="col-xs-1 profit-graph-container" style=" border:solid yellow 5px;">
             <svg id="profit-graph" width="460" height="400" style="margin-left:10px; margin-top:60px;"></svg>
        </div>

        <!-- graph the experiment -->
        <div class="col-xs-1 user-graph-container" style="border:solid green 5px;">
            <svg id="market_graph"></svg>
        </div>

        <!-- user buttons -->
        <div class="col-xs-2 control-container" style="padding: 5px; border:solid blue 5px;">
            <!-- roles -->
            <div class="button-container-state">

                    <button id="state_out" ng-disabled="state=='state_out'" class="btn" type="button" style="width:75px">
                        Out   
                    </button>


                    <button id="state_snipe" ng-disabled="state=='state_snipe'" class="btn" type="button" style="width:75px">
                        Sniper
                    </button> 


                    <button id="state_maker" ng-disabled="state=='state_maker'" class="btn" type="button" style="width:75px">
                        Maker
                    </button>

            </div>
            <!-- speed button -->
            <div class="button-container-speed">
                <div class="speed-label" p style="font-size:15px">Speed</div>
                <div class="material-switch">
                    <input id="speed-switch" type="checkbox" ng-disabled="state=='state_out'"/>
                    <label for="speed-switch"></label>
                </div>
            </div> 
            <div class="batch-line-container">
                <svg id="timer_graph"></svg>
            </div>
            <div id="timer"></div>
        </div>


    </div>
 </div>
{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="{% static "oTree_HFT_CDA/graph.js"%}"></script>
    <script>

        window.onload = function () {
            var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
            var socket = new WebSocket(ws_scheme + '://' + window.location.host + "/otree_HFT_CDA/group{{group.id}}");
            // Handle any errors that occur.
            socket.onerror = function (error) {
                console.log('WebSocket Error: ' + error);
            };

            $('#player_id').html({{player.id_in_group}})
            $('#player_role').html('Out');
            $('#curr_speed_cost').html(0);

            var speed = false;
            updatespeed = function () {
                speed = !speed;
                if(speed){
                    $('#curr_speed_cost').html({{Constants.speed_cost}});
                }else {
                    $('#curr_speed_cost').html(0);
                }
                var msg = {
                    type: 'speed_change',
                    id: {{player.id}},
                    id_in_group: {{player.id_in_group}},
                    speed: speed
                };
                if (socket.readyState === socket.OPEN) {
                    socket.send(JSON.stringify(msg));
                }
            }
            updatestate = function (rolestate) {
                var msg = {
                    type: 'role_change',
                    id: {{player.id}},
                    id_in_group: {{player.id_in_group}},
                    state: rolestate
                };
                if (socket.readyState === socket.OPEN) {
                    socket.send(JSON.stringify(msg));
                }
            }
            // Show a connected message when the WebSocket is opened.
            socket.onopen = function (event) {
                console.log('connected to oTree');
            };
            // Handle messages sent by the server.
            socket.onmessage = function (event) {
                var obj = jQuery.parseJSON(event.data);
                role = obj.role_state;
                console.log(role);
                $('#player_role').html(role);
            };
            // Show a disconnected message when the WebSocket is closed.
            socket.onclose = function (event) {
                console.log('disconnected from oTree');
            };
    }
    </script>
{% endblock %}
