
{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load staticfiles %}

{% block content %}
<style type="text/css">
    .front_end_controller{
        width: 100%;
        height: 100vh;
        background-color: darkgrey;
        margin-top: -80px;
    }
    .info_table{
        width:100%;
    }
    .graph_row{
        margin-top: 20px;
        background-color: darkgrey;
        width: 100%;
        height:76%;
        margin-left: 00px;
        border-top:solid black 1px;
    }
    .profit_graph{
        width:50%;
        height:100%;
    }
    .spread_graph{
        width:50%;
        height:100%;
    }
    .button-on{
        background-color:steelblue;
        border-color: solid black 5px;
        color:white;
    }
    .button-pressed{
        background-color:#444444;
        color:white;
    }
    .button-off{
        background-color:#666666;
        color:white;
    }
    input{
        margin-left:30px;
        margin-top:20px;
    }
    .inputs{
        margin-top:160px;
        width: 10%;
        height: 100%;
    }
    .line {
        stroke: steelblue;
        stroke-width: 3.5px;
        fill: none;
    }
    g{
        color:  grey;
        stroke-width: 2px;
        fill: none;
    }
    /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
/* Hide default HTML checkbox */
.switch input {display:none;}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #1fd15a;
}
input:focus + .slider {
  box-shadow: 0 0 1px #1fd15a;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.my_line{
  stroke:steelblue;
  stroke-width:2px;
}
.green_bar{
  fill:#6edd68;
  opacity: 0.5;
}
.blue_bar{
}
</style>

<div class="front_end_controller">
    <table class="info_table" style="width:100%" >
        <strong>
        <tr>
            <td class="info_text">Player ID <span id="player_id"></span></td>
            <td class="info_text">Number of Traders: NUMBER TRADERS</td>
            <td class="info_text">Role: <span id="player_role"> </span> </td>
            <td class="info_text">Fundamental Value: FUNDAMENTAL VALUE PRICE</td>
        </tr>
        <tr>
            <td class="info_text">Period # CURRENT PERIOD</td>
            <td class="info_text">Number of Makers: NUMBER MAKERS / FAST</td>
            <td class="info_text">Spread: <span id="spread_number"></span> </td>
            <td class="info_text">Current Buy Offer: CURRENT BUY OFFER</td>
        </tr>
        <tr>
            <td class="info_text">Speed Cost: SPEED COST / Second</td>
            <td class="info_text">Number of Snipers: NUMBER SNIPERS / FAST</td>
            <td class="info_text">Your Profit: RUNNING PROFIT</td>
            <td class="info_text">Current Sell Offer: CURRENT SELL OFFER</td>
        </tr>
        </strong>
    </table>
    <div class="row graph_row" style="width:100%; height:100%;">

    <svg id="profit-graph"  style="width:60%; height:100%; background-color: white; border-left:solid black 1px;"></svg>

    <svg id="spread-graph" style=" width:25%; height:100%; margin-left:10px; background-color: white;"></svg> 
        <div class="inputs">
          <input id="maker" value="Maker" class="button-off" type="button" style="width:80px" ></input>
          <br>
            <input id="sniper" value="Sniper" class="button-off" type="button" style="width:80px" ></input> 
            <br>
            <input id="out" value="Out" class="button-on" type="button" style="width:80px"></input>
            <br>

            <p  style="text-align: center; margin-left: 30px; margin-top:50px;">Speed</p>
            <label class="switch" style="margin-left: 40px; margin-top: -5px;" >
                <br>
                <input type="checkbox" onclick="updatespeed()">
                <span class="slider round"></span>
            </label>

        </div>

    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="https://d3js.org/d3.v5.js"></script>
    <script src="{% static 'oTree_HFT_CDA/graph.js' %}"></script> 
<script>
window.onload = function () {
            var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
            var socket = new WebSocket(ws_scheme + '://' + window.location.host + "/hft/{{group.id}}/{{player.id}}/");
            console.log(ws_scheme + '://' + window.location.host + "/hft/{{group.id}}/{{player.id}}/");
            // Handle any errors that occur.
            socket.onerror = function (error) {
                console.log('WebSocket Error: ' + error);
            };
            $('#player_id').html({{player.id_in_group}})
            $('#player_role').html('Out');
            $('#curr_speed_cost').html(0);
            var speed = false;
            updatespeed = function () {
                speed = !speed;
                if(speed){
                    $('#curr_speed_cost').html({{Constants.speed_cost}});
                }else {
                    $('#curr_speed_cost').html(0);
                }
                var msg = {
                    type: 'speed_change',
                    id: {{player.id}},
                    id_in_group: {{player.id_in_group}},
                    speed: speed
                };
                if (socket.readyState === socket.OPEN) {
                    socket.send(JSON.stringify(msg));
                }
            }
            // Show a connected message when the WebSocket is opened.
            socket.onopen = function (event) {
                console.log('connected to oTree');
            };
            // Handle messages sent by the server.
            socket.onmessage = function (event) {
                var obj = jQuery.parseJSON(event.data);
                role = obj.state;
                console.log('here');
                $('#player_role').html(role);
            };
            // Show a disconnected message when the WebSocket is closed.
            socket.onclose = function (event) {
                console.log('disconnected from oTree');
            };
/*********************************
END BUTTON LOGIC //may the force be with you
*********************************/
  //MAKER BUTTON
  document.getElementById("maker").onclick = function () {
    if ((document.getElementById("maker").className == "button-off") && (document.getElementById("maker").className != "button-pressed")){
        //IF BUTTON IS NOT PRESSED OR ON THEN TURN IT ON AFTER DELAD (Button_Pressed())
        $("#maker").toggleClass('button-off button-pressed');
        var msg = {
          type: 'role_change',
          id: {{player.id}},
          id_in_group: {{player.id_in_group}},
          state: "MAKER"
        };
        if (socket.readyState === socket.OPEN) {
          socket.send(JSON.stringify(msg));
        }
        console.log(msg);
        Button_Pressed("maker");
        //CHANGE TABLE VALUE
        $('#player_role').html('Maker');
        // drawSpreadLine(0);
        //send the order if not button pressed (reduces the chance of double orders)
    }
    //TURN THE REST OF THE BUTTONS OFF
    $("#out").attr('class', 'button-off');
    $("#sniper").attr('class', 'button-off');
  };
  //SNIPER BUTTON
  document.getElementById("sniper").onclick = function () {
      if ((document.getElementById("sniper").className == "button-off") && (document.getElementById("sniper").className != "button-pressed")){
        //IF BUTTON IS NOT PRESSED OR ON THEN TURN IT ON AFTER DELAD (Button_Pressed())
        $("#sniper").toggleClass('button-off button-pressed');
        var msg = {
          type: 'role_change',
          id: {{player.id}},
          id_in_group: {{player.id_in_group}},
          state: "SNIPER"
        };
        if (socket.readyState === socket.OPEN) {
          socket.send(JSON.stringify(msg));
        }
        console.log(msg);
        Button_Pressed("sniper");
        //send the order if not button pressed (reduces the chance of double orders)
        //CHANGE TABLE VALUE
        $('#player_role').html('Sniper');
      }
    //TURN THE REST OF THE BUTTONS OFF
    if($("#maker").className == "button-on"){
      d3.selectAll(".my_line").remove();
    }
    $("#maker").attr('class', 'button-off');
    $("#out").attr('class', 'button-off');
  };
  //OUT BUTTON
  document.getElementById("out").onclick = function () {
    if (document.getElementById("out").className == "button-off"){
      //IF THE BUTTON IS OFF TURN IT ON WITH NO DELAY
      $("#out").toggleClass('button-off button-on');
      var msg = {
        type: 'role_change',
        id: {{player.id}},
        id_in_group: {{player.id_in_group}},
        state: "OUT"
      };
      if (socket.readyState === socket.OPEN) {
        socket.send(JSON.stringify(msg));
      }
      //CHANGE TABLE VALUE
      $('#player_role').html('Out');
      console.log(msg);
      //send the out message
    }
    //TURN THE REST OF THE BUTTONS OFF
    $("#maker").attr('class', 'button-off');
    $("#sniper").attr('class', 'button-off');
  };
  var button_timer;
  var graph_timer;
  function Button_Pressed(id_name){
    //Wait .5 seconds for button pressed
    button_timer = setTimeout(Button_Change.bind(null,id_name),500);
  }
  function Button_Change(id_name){
    //TURNING BUTTON ON
    $("#"+id_name).toggleClass('button-pressed button-on');
  }
  var button_timer;
  var graph_timer;
  function Button_Pressed(id_name){
    //Wait  seconds until you can send a replace order
    button_timer = setTimeout(Button_Change.bind(null,id_name), 500);
  }
  function Button_Change(id_name){
    //Changing the class and color for the button to be pressed
    $("#"+id_name).toggleClass('button-pressed button-on');
  }
/*********************************
END BUTTON LOGIC
*********************************/
}
</script>
{% endblock %}
