{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load staticfiles %}

{% block content %}
<elo-experiment> </elo-experiment>
{% endblock %}

{% block scripts %}
    <script src="https://d3js.org/d3.v5.js"></script>
    <link rel="manifest" href="{% static 'hft/manifest.json' %}">
    <script src="{% static 'hft/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js' %}"></script>
    <script type="module" src="{% static 'hft/bid-ask-spread.js' %}"></script>
    <script type="module" src="{% static 'hft/bounded-market-price-card.js' %}"></script>
    <script type="module" src="{% static 'hft/experiment.js' %}"></script>
    <script type="module" src="{% static 'hft/info-card.js' %}"></script>
    <script type="module" src="{% static 'hft/info-table.js' %}"></script>
    <script type="module" src="{% static 'hft/market-session.js' %}"></script>
    <script type="module" src="{% static 'hft/subject-wallet.js' %}"></script>
    <script type="module" src="{% static 'hft/ws.js' %}"></script>
    <script type="module" src="{% static 'hft/information-section/information-table.js' %}"></script>

    
<script>
   let OTREE_CONSTANTS = {
       playerId: "{{player.id}}",
       subsessionId: "{{player.subsession.id}}",
       marketId: "{{player.market_id}}",
       initialEndowment: "{{player.endowment}}",
       speedCost: "{{player.speed_unit_cost}}"
   };
</script>


{% endblock %}