{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% block content %}
<style>
    h1{
        text-align:center;
    }
    h2{
        text-align:center;
    }
    #container{
        margin-left:30px;
        margin-right:30px;
        margin-top:40px;
    }
    #image{
        text-align: center;
    }
    .row{
        align-items:center ;
    }
</style>
<div id="container">
<h1>
    Instructions
</h1>
<p>
    Welcome, and thank you for participating. From now until the end of the experiment, please turn off your phone and do not communicate with other participants. If you have any questions, please raise your hand; an experimenter will come and answer your question. Please pay careful attention to the instructions as real money is at stake. 
</p>

</div>
{% endblock %}

{% block scripts%}
{% endblock %}