{% extends "global/Base.html" %}
{% load otree %}


{% block title %}
    General
{% endblock %}

{% block content %}
<br>
    <p>
        Before continuing with the session, you are going to 
        participate in a brief survey of 5 blocks regarding the 
        current experiment.
    </p>
   
    <p>
        <b> 1. {{ form.degree.label }} </b>
    </p>

    <div class = "first_form">
        <label><input name = "degree" type = "radio" value = "B.Sc."> B.Sc.</label><br>
        <label><input name = "degree" type = "radio" value = "M.Sc."> M.Sc.</label><br>    
        <label><input name = "degree" type = "radio" value = "Ph.D."> Ph.D.</label>
        <br>
    </div>

    {{ form.degree.errors }}

    <br>
    <p>
        <b>2. {{ form.degree_backg.label }}</b>
    </p>

    <div class = "first_form">
        <label><input name = "degree_backg" type = "radio" value = "Yes"> Yes</label><br>
        <label><input name = "degree_backg" type = "radio" value = "No"> No</label>
        <br>
    </div>

    {{ form.degree_backg.errors }}

    <br>
    <p>
        <b>3. {{ form.video_clarity.label }}</b>
    </p>

    <div class = "first_form">
        <label><input name = "video_clarity" type = "radio" value = "1"> 1</label><br>
        <label><input name = "video_clarity" type = "radio" value = "2"> 2</label><br>
        <label><input name = "video_clarity" type = "radio" value = "3"> 3</label><br>
        <label><input name = "video_clarity" type = "radio" value = "4"> 4</label><br>
        <label><input name = "video_clarity" type = "radio" value = "5"> 5</label>
        <br>
    </div>

    {{ form.video_clarity.errors }}

    <br>
    <p>
        <b>4. {{ form.video_confusing.label }}</b>
    </p>

    <div class = "first_form">
        <textarea rows="5" cols="50" name = "video_confusing" type = "text">
        </textarea>
        <br>
    </div>

    {{ form.video_confusing.errors }}

    <br>
    <p>
        <b>5. {{ form.interface_clarity.label }}</b>
    </p>

    <div class = "first_form">
        <label><input name = "interface_clarity" type = "radio" value = "1"> 1</label><br>
        <label><input name = "interface_clarity" type = "radio" value = "2"> 2</label><br>
        <label><input name = "interface_clarity" type = "radio" value = "3"> 3</label><br>
        <label><input name = "interface_clarity" type = "radio" value = "4"> 4</label><br>
        <label><input name = "interface_clarity" type = "radio" value = "5"> 5</label>
        <br>
    </div>

    {{ form.interface_clarity.errors }}

    <br>
    <p>
        <b>6. {{ form.interface_confusing.label }}</b>
    </p>

    <div class = "first_form">
        <textarea rows="5" cols="50" name = "interface_confusing" type = "text">
        </textarea>
        <br>
    </div>

    {{ form.interface_confusing.errors }}

    <br>
    <p>
        <b>7. {{ form.suggestions.label }}</b>
    </p>

    <div class = "first_form">
        <textarea rows="5" cols="50" name = "suggestions" type = "text">
        </textarea>
        <br>
    </div>

    {{ form.suggestions.errors }}
    
    <br>
    {% next_button %}

{% endblock %}