{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block content %}
    <style>
        h1{
            text-align:center;
        }
        h2{
            text-align:center;
        }
        #container{
            margin-left:30px;
            margin-right:30px;
            margin-top:40px;
        }
        #image{
            text-align: center;
        }
        .row{
            align-items:center ;
        }
        .centering {
            text-align: right;
            margin-top: 30px;
            margin-right: 30px;
        }
        .link {
            margin-right: 30px;
        }

        p {
            margin-bottom: 30px;
	    margin-top: 30px;
        }
    </style>
    <div id="container">
        <h1>
            Instructions {{auction_format}}
        </h1>

        <p>Willkommen und vielen Dank für Ihre Teilnahme an diesem Experiment. <b>Bitte schauen Sie sich zunächst das folgende Anleitungsvideo aufmerksam an.</b></p>

        <!-- Show different instruction per market format -->
        {% if auction_format == 'CDA' %}
                <center>
         	   <video controls width="100%">
        	        <source src="https://experiment.lab.uni-koeln.de/files/CDA_Video_Instructions_15.mp4" type="video/mp4">
                   </video>
        	</center>
        {% elif auction_format == 'FBA' %}
            <center>
         	   <video controls width="100%">
        	        <source src="https://experiment.lab.uni-koeln.de/files/FBA_Video_Instructions_09.mp4" type="video/mp4">
                   </video>
        	</center>
        {% elif auction_format == 'IEX' %}
            <center>
         	   <video controls width="100%">
        	        <source src="https://experiment.lab.uni-koeln.de/files/IEX_Video_Instructions_11.mp4" type="video/mp4">
                   </video>
        	</center>
        {% endif %}

        <p> Sie erhalten auch eine schriftliche Version der Instruktionen, falls Sie Abschnitte während des Experiments nachlesen möchten. </p>

	<p> <b> Hinweis: </b> Die für Sie auszahlungsrelevanten Speed-Kosten im Experiment betragen 0,05 ECU/Sekunde. </p>

	<p> Durch das Betätigen der "Next"-Taste gelangen Sie zu den Testrunden. </p>

        <form method="post" role="form" id="form" autocomplete="off">{% csrf_token %}
            <div class="centering" id="next" style="display:none;">
                {% next_button %}
            </div>
        </form>

        <script>
            const myForm = document.getElementById('next');
            setTimeout(() => {
            myForm.style.display = 'block';
            }, "{{next_button_timeout}}" * 1000);
        </script>
    </div>
    
    <audio id="my_audio" src="{% static "notification.mp3" %}"></audio>
    <script>
        window.onload = function() {
            document.getElementById("my_audio").play();
        }
    </script>
{% endblock %}

{% block scripts%}
{% endblock %}
