{% extends "global/Base.html" %}
{% load otree %}

{% block title %}
    Inventory
{% endblock %}

{% block content %}

<body>
<br>
<p>
    <b>1. {{ form.trader_inv.label }}</b>
</p>

<div class = "first_form">
    <div><label><input name = "form1" type = "radio" value = "1"> {{ trader_inv_answers.0 }}</label><br></div>
    <div><label><input name = "form1" type = "radio" value = "0"> {{ trader_inv_answers.1 }}</label><br></div>    
    <div><label><input name = "form1" type = "radio" value = "0"> {{ trader_inv_answers.2 }}</label><br></div>
    <div><label><input name = "form1" type = "radio" value = "0"> {{ trader_inv_answers.3 }}</label><br></div>
    <div><label><input name = "form1" type = "radio" value = "0"> {{ trader_inv_answers.4 }}</label></div>
</div>
<label class = "verifiers"></label>
<br>
<p>
    <b>2. {{ form.implicit_cost.label }} </b>
</p>
<div class = "first_form">
    <div><label><input name = "form2" type = "radio" value = "1"> {{ implicit_cost_answers.0 }}</label><br></div>
    <div><label><input name = "form2" type = "radio" value = "0"> {{ implicit_cost_answers.1 }}</label><br></div>
    <div><label><input name = "form2" type = "radio" value = "0"> {{ implicit_cost_answers.2 }}</label><br></div>
    <div><label><input name = "form2" type = "radio" value = "0"> {{ implicit_cost_answers.3 }}</label><br></div>
    <div><label><input name = "form2" type = "radio" value = "0"> {{ implicit_cost_answers.4 }}</label></div>
</div>
<label class = "verifiers"></label>
<br>
<p>
    <b>3. {{ form.end_trading_pos.label }} </b>
</p>
<div class = "first_form">
    <div><label><input name = "form3" type = "radio" value = "1"> {{ end_trading_pos_answers.0 }}</label><br></div>
    <div><label><input name = "form3" type = "radio" value = "0"> {{ end_trading_pos_answers.1 }}</label><br></div>    
    <div><label><input name = "form3" type = "radio" value = "0"> {{ end_trading_pos_answers.2 }}</label><br></div>
    <div><label><input name = "form3" type = "radio" value = "0"> {{ end_trading_pos_answers.3 }}</label></div>
</div>
<label class = "verifiers"></label>
<br>
<p>
    <b>4. {{ form.end_trading_neg.label }} </b>
</p>
<div class = "first_form">
    <div><label><input name = "form4" type = "radio" value = "1"> {{ end_trading_neg_answers.0 }}</label><br></div>
    <div><label><input name = "form4" type = "radio" value = "0"> {{ end_trading_neg_answers.1 }}</label><br></div>
    <div><label><input name = "form4" type = "radio" value = "0"> {{ end_trading_neg_answers.2 }}</label><br></div>
    <div><label><input name = "form4" type = "radio" value = "0"> {{ end_trading_neg_answers.3 }}</label></div>
</div>
<label class = "verifiers"></label>
<br>
<p><b>{{ help }}</b></p>
<button id = "next" class="otree-btn-next btn btn-primary" type = "button" >Next</button>
<button id = "submit" class="otree-btn-next btn btn-primary" hidden>Siguiente</button>

<input class = "fields" id = "trader_inv" name = "trader_inv" hidden>
<input class = "fields" id = "implicit_cost" name = "implicit_cost" hidden>
<input class = "fields" id = "end_trading_pos" name = "end_trading_pos" hidden>
<input class = "fields" id = "end_trading_neg" name = "end_trading_neg" hidden>

<input class = "boolean" id = "trader_inv_right_count" name = "trader_inv_right_count" hidden>
<input class = "boolean" id = "implicit_cost_right_count" name = "implicit_cost_right_count" hidden>
<input class = "boolean" id = "end_trading_pos_right_count" name = "end_trading_pos_right_count" hidden>
<input class = "boolean" id = "end_trading_neg_right_count" name = "end_trading_neg_right_count" hidden>

    <script>

        var verifiers = $(".verifiers");
        var questions = $(".first_form");
        
        var fields = $(".fields");

        var booleans = $(".boolean"); 

        var intentos = 1
        // respuestas correctas
        var right_answers = [
            "{{ trader_inv | safe }}",
            "{{ implicit_cost | safe }}",
            "{{ end_trading_pos | safe }}",
            "{{ end_trading_neg | safe }}"
        ]

        for (j = 0; j < questions.length ; j++)
        {
            var parent = $(questions[j]);
                var divs = parent.children();
                while (divs.length) {
                    parent.append(divs.splice(Math.floor(Math.random() * divs.length), 1)[0]);
                }
            }

        $("#next").click(function(){
            var score = 0

            // para cada pregunta
            
            for (j = 0; j < questions.length ; j++)
            {   
                
                var inputs = $(`input[name=form${j+1}]`)

                // para cada choice
                for (i = 0; i < inputs.length ; i++)
                {
                    // si seleccionó cierta choice entonces ....
                    if ($(inputs[i]).prop("checked")) 
                    {
                        // si el valor de ese input es 1 eso quiere decir que es la respuesta correcta
                        if ($(inputs[i]).val() == "1") {
                            ++score
        
                            $(verifiers[j]).css("color","green");
                            $(verifiers[j]).html("<b>{{ correct_answer }}</b>")
                            $(fields[j]).val(right_answers[j]) //asignando respuesta al field 
                            if (intentos == 1){
                                $(booleans[j]).val('1')
                            }else if (intentos == 2 && $(booleans[j]).val() == '0' ){
                                $(booleans[j]).val('2')
                            }

                        }else{

                            $(verifiers[j]).css("color","red");
                            if (intentos >= 2){
                                $(verifiers[j]).html("{{ correct_answer }}: " + right_answers[j])
                            }else{
                                $(verifiers[j]).html("<b>{{ wrong_answer }}</b>") //mostrar la respuesta en html
                            }
                            $(fields[j]).val(right_answers[j])
                            $(booleans[j]).val('0')

                        }
                    }
                }
                
            }
            ++intentos

            if (intentos == 3 ){
                var inputs = $(`input[type=radio]`)
                inputs.each(function( index ) {
                $( this ).prop( "disabled", true );
                }); 
                }    
                
            if (intentos == 2 && score == questions.length ){
                $("#next").prop("hidden",true); //boton enviar (no de submit) desaparece
                $('#next').removeAttr("type").attr("type", "submit");   
            }

            if (intentos == 4){
                $('#next').removeAttr("type").attr("type", "submit")
            }
        })

    </script>
</body>
{% endblock %}