{% extends "global/Base.html" %}
{% load otree %}

{% block title %}
    Market Specific
{% endblock %}

{% block content %}
<!-- Los inputs que toman el valor de 1 es porque son la respuesta correcta -->
<body>

<p>
    {{ form.one_ask.label }}
</p>

<div class = "first_form">
    <label><input name = "form1" type = "radio" value = "1"> The bids are processed serially, which means Anna’s bid will be executed against the ask, while Tim’s bid enters the orderbook.</label><br>
    <label><input name = "form1" type = "radio" value = "0"> Both bids are processed simultaneously, it is randomly determined which bid will be executed against the ask, the other bid will enter the orderbook.</label><br>    
    <label><input name = "form1" type = "radio" value = "0"> Both bids enter the orderbook at 100 ECU.</label><br>
    <label><input name = "form1" type = "radio" value = "0"> Anna’s bid will be executed against the ask at the end of the trading period.</label><br>
    <label><input name = "form1" type = "radio" value = "0"> Tim’s bid will be executed against the ask at the end of the trading period.</label>
    <br>
    <label class = "verifiers"></label>
</div>

<p></p>

<p>
    {{ form.hidden_order.label }} 
</p>

<div class = "first_form">
    <label><input name = "form2" type = "radio" value = "1"> The exchange automatically adjusts the price of these orders, which is indicated by the black vertical bar, and the market participants cannot observe whether there exist hidden orders at  the black bar or not.</label><br>
    <label><input name = "form2" type = "radio" value = "0"> The exchange automatically adjusts the price of these orders, which is indicated by the black vertical bar, and all market participants can observe whether hidden orders exist at the black bar or not.</label><br>    
    <label><input name = "form2" type = "radio" value = "0"> The exchange automatically adjusts the price of these orders, which is indicated by the black vertical bar, and these orders can be placed only by you and the other human market participants.</label><br>
    <label><input name = "form2" type = "radio" value = "0"> The automated investors adjust the price of these orders according to your behavior and the behavior of the other human market participants, none of the market participants can observe whether there exist hidden orders at the black bar or not.</label><br>
    <label><input name = "form2" type = "radio" value = "0"> Hidden orders cannot be distinguished from ordinary limit or market orders.</label>
    <br>
    <label class = "verifiers"></label>
</div>

<button id = "enviar" class="otree-btn-next btn btn-primary" type = "button" >Enviar</button>
<button id = "submit" class="otree-btn-next btn btn-primary" hidden>Siguiente</button>

<!--fields para llenar en js-->
<input class = "fields" id = "one_ask" name = "one_ask" hidden>
<input class = "fields" id = "hidden_order" name = "hidden_order" hidden>

<!-- aca estan los fields booleanos que se llenan en js-->
<input class = "boolean" id = "one_ask_right_first" name = "one_ask_right_first" hidden>
<input class = "boolean" id = "hidden_order_right_first" name = "hidden_order_right_first" hidden>
    <script>

        // para interactuar con HTML desde JS se está usando Jquery que ya viene incorporado en Otree

        var verifiers = $(".verifiers");
        var questions = $(".first_form");
        
        var fields = $(".fields");

        var booleans = $(".boolean"); 

        var one_ask = {{ one_ask| json }}
        var hidden_order = {{ hidden_order| json }}
    
        // respuestas correctas
        var right_answers = [
        one_ask,
        hidden_order,
        ]
        

        $("#enviar").click(function(){

            // para cada pregunta
            
            for (j = 0; j < questions.length ; j++)
            {
                var inputs = $(`input[name=form${j+1}]`)

                // para cada choice
                for (i = 0; i < inputs.length ; i++)
                {
                    // si seleccionó cierta choice entonces ....
                    if ($(inputs[i]).prop("checked")) 
                    {
                        // si el valor de ese input es 1 eso quiere decir que es la respuesta correcta
                        if ($(inputs[i]).val() == "1") {

                            $(verifiers[j]).css("color","green");
                            $(verifiers[j]).html("<b>Respuesta Correcta!</b>")
                            $(fields[j]).val(right_answers[j]) //asignando respuesta al field
                            $(booleans[j]).val('1') // asignando si la respuesta fue correcta o no

                        }else{

                            $(verifiers[j]).css("color","red");
                            $(verifiers[j]).html(right_answers[j]) //mostrar la respuesta en html
                            $(fields[j]).val(right_answers[j])
                            $(booleans[j]).val('0')

                        }
                    }
                }
            }

            $("#enviar").prop("hidden",true) //boton enviar (no de submit) desaparece
            $("#submit").prop("hidden",false) // boton de submit aparece
                      
        })

    </script>
</body>
{% endblock %}