venv
staticfiles
./db.sqlite3
.idea
*~
*.sqlite3
_static_root
_bots*s
__temp*
__pycache__/
*.py[cod]
.DS_Store
*.csv
*.txt
*.rdb
*.log
*.vscode
reset*
!investors*.csv
!jumps*.csv
!__temp_static_root
channels/
otree-core-hft/
