asgi-redis==0.14.1
asgiref==0.14.0
autobahn==0.16.0
certifi==2018.11.29
channels==0.17.3
colorama==0.3.7
ConfigArgParse==0.13.0
contextlib2==0.5.4
coverage==4.2
daphne==0.14.3
dj-database-url==0.4.1
Django==1.11.2
django-idmap==1.0.3
django-redis==4.9.0
django-vanilla-views==1.0.4
djangorestframework==3.4.6
honcho==0.7.1
huey==1.2.0
IPy==0.83
jsonfield==2.0.2
msgpack-python==0.4.8
-e git+https://github.com/hademircii/otree-core.git@293f41364fdd47b9e18f385474bb3641fcd89183#egg=otree
otree-boto2-shim==0.3.2
otree-core==0.0.0b1
otree-save-the-change==1.1.3
pbr==1.10.0
pipenv==11.3.2
py==1.4.31
pytest==2.9.2
pytest-django==3.0.0
python-redis-lock==3.3.1
pytz==2017.3
PyYAML==3.12
raven==5.25.0
redis==2.10.5
requests==2.11.1
schema==0.6.2
six==1.10.0
termcolor==1.1.0
Twisted==19.7.0
txaio==2.5.1
unicodecsv==0.14.1
virtualenv-clone==0.3.0
websocket-client==0.47.0
whitenoise==3.2.1
ws4py==0.3.5
XlsxWriter==0.9.3
zope.interface==4.2.0
