{% extends "global/Base.html" %}
{% load otree %}


{% block title %}
Comprehension Questions
{% endblock %}

{% block content %}
    <p>
        In the following we will show you 4 pages of comprehension questions. The questions are designed to help you process the information from the instructional videos.
    </p>
    <p>
        If you have any questions, or you are unable to comprehend the correct answer to any question, please raise your hand and an experimenter will come to you and answer your questions.
    </p>
    
    <br>
    {% next_button %}

{% endblock %}