{% extends "global/Base.html" %}
{% load otree %}

{% block title %}
    Inventory
{% endblock %}

{% block content %}
<style>
    .row{
    text-align: left;
    width: 100%;
    display: block;
    }
    .half-row{
    display: inline-block;
    width: 50%;
    padding: 1%;
    float: left;
    }
    .clear{
    clear: both;
    }
</style>

<body>
<br>
<p>
    <b>1. {{ form.trader_inv.label }}</b>
</p>

<div class = "first_form">
    <div><label><input name = "form1" type = "radio" value = "1"> The inventory will most likely decrease and tend to zero.</label><br></div>
    <div><label><input name = "form1" type = "radio" value = "0"> The inventory will most increase rapidly.</label><br></div>    
    <div><label><input name = "form1" type = "radio" value = "0"> The inventory will stay at exactly 10 units.</label><br></div>
    <div><label><input name = "form1" type = "radio" value = "0"> The inventory will shortly after tend to minus 10 units.</label><br></div>
    <div><label><input name = "form1" type = "radio" value = "0"> Nothing will happen.</label></div>
</div>
<label class = "verifiers"></label>
{{ form.trader_inv_right_count.errors }}
<br>
<p>
    <b>2. {{ form.implicit_cost.label }} </b>
</p>
<div class = "first_form">
    <div><label><input name = "form2" type = "radio" value = "1"> Your bot will focus less on profitable trading and more on balancing the inventory, which will most likely result in you receiving poorer prices.</label><br></div>
    <div><label><input name = "form2" type = "radio" value = "0"> Your bot will focus solely on profitable trading, which will most likely result in high positive or negative inventories and thus in a higher deduction payment.</label><br></div>
    <div><label><input name = "form2" type = "radio" value = "0"> Your bot focuses exclusively on the prices of the external market, which might cause you to miss the moments when your own market reacts faster.</label><br></div>
    <div><label><input name = "form2" type = "radio" value = "0"> Your bot focuses exclusively on the prices on your own market, which might cause you to miss the moments when the external market reacts faster.</label><br></div>
    <div><label><input name = "form2" type = "radio" value = "0"> There are no disadvantages associated with increasing the inventory sensitivity slider.</label></div>
</div>
<label class = "verifiers"></label>
{{ form.implicit_cost_right_count.errors }}
<br>
<p>
    <b>3. {{ form.end_trading_pos.label }} </b>
</p>
<div class = "first_form">
    <div><label><input name = "form3" type = "radio" value = "1"> The deduction amounts to 10 x 100 x 0.1 = 100 ECU. The deduction needs to be subtracted from the PBD in the amount of 100 ECU, such that the payoff is equal to 0 ECU.</label><br></div>
    <div><label><input name = "form3" type = "radio" value = "0"> The deduction amounts to 10 x 100 x 0.1 = 100 ECU. The deduction needs to be added to the PBD in the amount of 100 ECU,  such that the payoff is equal to 200 ECU.</label><br></div>    
    <div><label><input name = "form3" type = "radio" value = "0"> The deduction is equal to the inventory value, which amounts to 10 x 100 = 1000 ECU. The inventory value needs to be added to the PBD in the amount of 100 ECU, such that the payoff is equal to 1100 ECU.</label><br></div>
    <div><label><input name = "form3" type = "radio" value = "0"> The deduction is equal to the inventory value, which amounts to 10 x 100 = 1000 ECU. The inventory value needs to be subtracted from the PBD in the amount of 100 ECU, such that the payoff is equal to -900 ECU.</label></div>
</div>
<label class = "verifiers"></label>
{{ form.end_trading_pos_right_count.errors }}
<br>
<p>
    <b>4. {{ form.end_trading_neg.label }} </b>
</p>
<div class = "first_form">
    <div><label><input name = "form4" type = "radio" value = "1"> The deduction amounts to |-10 x 100 x 0.1| = 100 ECU. The deduction needs to be subtracted from the PBD in the amount of 100 ECU, such that the payoff is equal to 0 ECU.</label><br></div>
    <div><label><input name = "form4" type = "radio" value = "0"> The deduction amounts to |-10 x 100 x 0.1| = 100 ECU. The deduction needs to be added to the PBD in the amount of 100 ECU, such that the payoff is equal to 200 ECU.</label><br></div>
    <div><label><input name = "form4" type = "radio" value = "0"> The deduction is equal to the inventory value, which amounts to -10 x 100 = -1000 ECU. The deduction needs to be added to the PBD in the amount of 100 ECU, such that the payoff is equal to -900 ECU.</label><br></div>
    <div><label><input name = "form4" type = "radio" value = "0"> The deduction is equal to the inventory value, which amounts to -10 x 100 = -1000 ECU. The deduction needs to be subtracted from the PBD in the amount of 100 ECU, such that the payoff is equal to 1100 ECU.</label></div>
</div>
<label class = "verifiers"></label>
{{ form.end_trading_neg_right_count.errors }}
<br>

<div class="row">
    <div class="half-row">
    <button id = "enviar" class="otree-btn-next btn btn-primary" type = "button" >Next</button>
    <button id = "submit" class="otree-btn-next btn btn-primary" hidden>Next</button>
    </div>
    <div class ="half-row">

                <ul class="pagination">
                    <li class="page-item active" aria-current="page"><a class="page-link">1</a></li>
                    <li class="page-item disabled"><a class="page-link" >2</a></li>
                    <li class="page-item disabled"><a class="page-link" >3</a></li>
                    <li class="page-item disabled"><a class="page-link" >4</a></li>

                </ul>
    </div>
</div>


<input class = "fields" id = "trader_inv" name = "trader_inv" hidden>
<input class = "fields" id = "implicit_cost" name = "implicit_cost" hidden>
<input class = "fields" id = "end_trading_pos" name = "end_trading_pos" hidden>
<input class = "fields" id = "end_trading_neg" name = "end_trading_neg" hidden>

<input class = "boolean" id = "trader_inv_right_count" name = "trader_inv_right_count" hidden>
<input class = "boolean" id = "implicit_cost_right_count" name = "implicit_cost_right_count" hidden>
<input class = "boolean" id = "end_trading_pos_right_count" name = "end_trading_pos_right_count" hidden>
<input class = "boolean" id = "end_trading_neg_right_count" name = "end_trading_neg_right_count" hidden>


    <script>

        var verifiers = $(".verifiers");
        var questions = $(".first_form");
        
        var fields = $(".fields");

        var booleans = $(".boolean"); 

        var intentos = 1
        // respuestas correctas
        var right_answers = [
        "The inventory will most likely decrease and tend to zero.",
        "Your bot will focus less on profitable trading and more on balancing the inventory, which will most likely result in you receiving poorer prices.",
        "The deduction amounts to 10 x 100 x 0.1 = 100 ECU. The deduction needs to be subtracted from the PBD in the amount of 100 ECU, such that the payoff is equal to 0 ECU.",
        "The deduction amounts to |-10 x 100 x 0.1| = 100 ECU. The deduction needs to be subtracted from the PBD in the amount of 100 ECU, such that the payoff is equal to 0 ECU."
        ]

        for (j = 0; j < questions.length ; j++)
        {
            var parent = $(questions[j]);
                var divs = parent.children();
                while (divs.length) {
                    parent.append(divs.splice(Math.floor(Math.random() * divs.length), 1)[0]);
                }
            }

        $("#enviar").click(function(){
            var score = 0
            var pass = 0
            // para cada pregunta
            
            for (j = 0; j < questions.length ; j++)
            {
                var inputs = $(`input[name=form${j+1}]`)

                // para cada choice
                for (i = 0; i < inputs.length ; i++)
                {
                    // si seleccionó cierta choice entonces ....
                    if ($(inputs[i]).prop("checked")) 
                    {
                        // si el valor de ese input es 1 eso quiere decir que es la respuesta correcta
                        if ($(inputs[i]).val() == "1") {
                            ++score
                            
                            $(verifiers[j]).css("color","green");
                            $(verifiers[j]).html("<b>Right Answer</b>")
                            $(fields[j]).val(right_answers[j]) //asignando respuesta al field 
                            if (intentos == 1){
                                $(booleans[j]).val('1')
                            }else if (intentos == 2 && $(booleans[j]).val() == '0' ){
                                $(booleans[j]).val('2')
                            }

                        }else{
                            ++pass

                            $(verifiers[j]).css("color","red");
                            if (intentos >= 2){
                                $(verifiers[j]).html("<b>Wrong</b>. The correct answer is: " + right_answers[j])
                            }else{
                                $(verifiers[j]).html("<b>Wrong Answer</b>") //mostrar la respuesta en html
                            }
                            $(fields[j]).val(right_answers[j])
                            $(booleans[j]).val('0')

                        }
                    }
                }

            }
            ++intentos

            if (intentos == 3 ){
                var inputs = $(`input[type=radio]`)
                inputs.each(function( index ) {
                $( this ).prop( "disabled", true );
                }); 
                }    
            
            if (intentos == 2 && score == questions.length ){
                var inputs = $(`input[type=radio]`)
                inputs.each(function( index ) {
                $( this ).prop( "disabled", true );
                });
            }
            if (intentos == 3 && pass == 0 ){
                $('#enviar').removeAttr("type").attr("type", "submit")
            }

            if (intentos == 4){
                $('#enviar').removeAttr("type").attr("type", "submit")
            }
        })

    </script>
</body>
{% endblock %}