{% extends "global/Base.html" %}
{% load otree %}

{% block title %}
    Speed
{% endblock %}

{% block content %}

<body>
<br>
<p>
    <b>1. {{ form.two_players.label }}</b>
</p>

<div class = "first_form">
    <div><label><input name = "form1" type = "radio" value = "1"> Anna's bid and ask will change faster in response to price movements on either market.</label><br></div>
    <div><label><input name = "form1" type = "radio" value = "0"> Tim's bid and ask will change faster in response to price movements on either market.</label><br></div>
    <div><label><input name = "form1" type = "radio" value = "0"> Anna's bid and ask will change faster if the prices on the external market move, while Tim's bid and ask will change faster if the prices on their own market move.</label><br></div>
    <div><label><input name = "form1" type = "radio" value = "0"> Tim's bid and ask will change faster if the prices on the external market move, while Anna's bid and ask will change faster if the prices on their own market move.</label><br></div>
    <div><label><input name = "form1" type = "radio" value = "0"> Anna and Tim's bid and ask will change equally fast in response to price movements.</label></div>
</div>
<label class = "verifiers"></label>
<br>
<p>
    <b>2. {{ form.three_min.label }} </b>
</p>
<div class = "first_form">
    <div><label><input name = "form2" type = "radio" value = "1"> 180 * 0.01 = 1.8 ECU</label><br></div>
    <div><label><input name = "form2" type = "radio" value = "0"> 180 * 0.1 = 18 ECU</label><br></div>
    <div><label><input name = "form2" type = "radio" value = "0"> 180 * 1 = 180 ECU</label><br></div>
    <div><label><input name = "form2" type = "radio" value = "0"> 180 * 10 = 1800 ECU</label><br></div>
    <div><label><input name = "form2" type = "radio" value = "0"> The speed option does not create costs.</label></div>
</div>
<label class = "verifiers"></label>
<br>
<button id = "enviar" class="otree-btn-next btn btn-primary" type = "button" >Enviar</button>
<button id = "submit" class="otree-btn-next btn btn-primary" hidden>Siguiente</button>

<input class = "fields" id = "two_players" name = "two_players" hidden>
<input class = "fields" id = "three_min" name = "three_min" hidden>

<input class = "boolean" id = "two_players_right_first" name = "two_players_right_count" hidden>
<input class = "boolean" id = "three_min_right_first" name = "three_min_right_count" hidden>


<script>
    // para interactuar con HTML desde JS se está usando Jquery que ya viene incorporado en Otree

        var verifiers = $(".verifiers");
        var questions = $(".first_form");
        
        var fields = $(".fields");

        var booleans = $(".boolean"); 

        var intentos = 1

        // respuestas correctas
        var right_answers = [
        "Anna's bid and ask will change faster in response to price movements on either market.",
        "180 * 0.01 = 1.8 ECU",
        ]

        for (j = 0; j < questions.length ; j++)
        {
            var parent = $(questions[j]);
                var divs = parent.children();
                while (divs.length) {
                    parent.append(divs.splice(Math.floor(Math.random() * divs.length), 1)[0]);
                }
            }

        $("#enviar").click(function(){
            var score = 0
            // para cada pregunta
            
            for (j = 0; j < questions.length ; j++)
            {
                var inputs = $(`input[name=form${j+1}]`)

                // para cada choice
                for (i = 0; i < inputs.length ; i++)
                {
                    // si seleccionó cierta choice entonces ....
                    if ($(inputs[i]).prop("checked")) 
                    {
                        // si el valor de ese input es 1 eso quiere decir que es la respuesta correcta
                        if ($(inputs[i]).val() == "1") {
                            ++score
                            
                            $(verifiers[j]).css("color","green");
                            $(verifiers[j]).html("<b>Respuesta Correcta!</b>")
                            $(fields[j]).val(right_answers[j]) //asignando respuesta al field 
                            if (intentos == 1){
                                $(booleans[j]).val('1')
                            }else if (intentos == 2 && $(booleans[j]).val() == '0' ){
                                $(booleans[j]).val('2')
                            }

                        }else{

                            $(verifiers[j]).css("color","red");
                            if (intentos >= 2){
                                $(verifiers[j]).html(right_answers[j])
                            }else{
                                $(verifiers[j]).html("<b>Wrong Answer</b>") //mostrar la respuesta en html
                            }
                            $(fields[j]).val(right_answers[j])
                            $(booleans[j]).val('0')

                        }
                    }
                }

            }
            ++intentos

            if (intentos == 3 ){
                var inputs = $(`input[type=radio]`)
                inputs.each(function( index ) {
                $( this ).prop( "disabled", true );
                }); 
                }        

            if (intentos == 2 && score == questions.length ){
                $("#enviar").prop("hidden",true); //boton enviar (no de submit) desaparece
                $('#enviar').removeAttr("type").attr("type", "submit");   
            }

            if (intentos == 4){
                $('#enviar').removeAttr("type").attr("type", "submit")
            }
                    
        })

    </script>
</body>
{% endblock %}