    .front_end_controller{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color:  rgb(230, 230, 230);
        top:0;
        left: 0;
    }
    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
        background-color: grey;
        opacity: .8; 
        pointer-events: all;
    }

    interactive-component{
        width: 100%;
        height:60%;
        background-color:white;
        position: relative;
    }
    
    profit-graph{
        background-color: white;
        position: relative;
    }

    info-table{
        background-color: rgb(158, 65, 65);
    }