    .front_end_controller{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color:  rgb(230, 230, 230);
        top:0;
        left: 0;
    }
    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
        background-color: grey;
        opacity: .8; 
        pointer-events: all;
    }
    .row {
        padding: 0px;
        margin: 0px;
        width:100%;
    }
    spread-graph{
        width: 50%;
        height:600px;
        margin-left:10px;
        background-color:white;
        position: relative;
    }
    profit-graph{
        width:40%; 
        height:600px; 
        background-color: white;
        position: relative;
    }
    /* input-section{
        margin-top:160px;
        width: 5%;
        height: 100%;
        float: left;
        position: relative;
        display: flex;
        flex-direction: column;
        margin-left:10px;
        align-items: center;
    } */
    info-table{
        background-color: rgb(230, 230, 230);
        width: 100%;
        height: 150px;
    }