[Unit]
Description=Run huey - High Frequency Trading Service
After=network.target

[Service]
ExecStart=/etc/systemd/system/start_huey.sh
WorkingDirectory=/home/hft_dev
User=hft_dev
Group=hft_dev
Restart=always

[Install]
WantedBy=multi-user.target
