.line {
    stroke: steelblue;
    stroke-width: 3.5px;
    fill: none;
}
g{
    color:  grey;
    stroke-width: 2px;
    fill: none;

}

.my_line{
  stroke:steelblue;
  stroke-width:2px;
}

.others_line{
  stroke:rgb(2, 3, 4);
  stroke-width:2px;
}

.green_bar{
  fill:#6edd68;
  opacity: 0.5;
}

.blue_bar{
  fill:#00ffff;
  opacity: 0.5;
}

.transaction_bar_light{
  fill:#00cc00;
  opacity: 0.5;
}

.transaction_bar_dark{
  fill:#006600;
  opacity: 0.5;
}