    .front_end_controller{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #FFFFF0;
    }
    .overlay{
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
        background-color: grey;
        opacity: .8; 
        pointer-events: all;
    }

    interactive-component{
        height: 30%;
        width: 100%;
        position: block;
    }
    
    profit-graph{
        background-color: white;
        position: relative;
    }

    info-table{
        background-color: rgb(158, 65, 65);
    }