{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Auszahlungsformular
{% endblock %}

{% block content %}
    <p>Willkommen beim Auszahlungsformular des Kölner Laboratoriums für Wirtschaftsforschung.</p>
    
    <p>Die Verwendung dieses Formulars stellt sicher, dass Ihre Verhaltensdaten nicht mit Ihren Auszahlungsdaten verknüpft werden können.</p>
    
    

    {% if negative_payoff %}
        <p>Leider ist die Summe ihrer Gewinne aller Handelsperioden negativ, so dass ihre Auszahlung der Show-Up Fee von <b>{{ participation_fee }}<b> entspricht.</p>
    {% elif consent %}
        {% if random_payoff %}
            <p>Round {{ random_round_num }} was randomly selected. In this round, you made a profit of <b>{{ total_cash_payment_before_exchange_rate }} ECU</b>. Together with the Show-Up Fee this sums up to: {{ total_cash_payment_plus_showup_fee }} = {{ total_cash_payment_before_exchange_rate }} ECU x {{ exchange_rate}} (Exchange Rate) + {{ participation_fee }} (Participation Fee).</p>
        {% else %}
            <p>In total, you made a profit of <b>{{ total_cash_payment_before_exchange_rate }} ECU</b>. Together with the Show-Up Fee this sums up to: {{ total_cash_payment_plus_showup_fee }} = {{ total_cash_payment_before_exchange_rate }} ECU x {{ exchange_rate}} (Exchange Rate) + {{ participation_fee }} (Participation Fee).</p>
        {% endif %}

        {% if earned_more_than_max %}
            <p>Die Summe ihrer Gewinne aller Handelsperioden ist außerordentlich hoch, so dass ihre Auszahlung dem maximalen Wert von {{max_payment}} zuzüglich Show-Up Fee von {{ participation_fee }} entspricht.</p>
        {% endif %}
    {% else %}
        <p>Da Sie mit den Bedingungen des Experiments nicht einverstanden sind, endet das Experiment für Sie an dieser Stelle mit einer Auszahlung in Höhe der Show-Up Fee.</p>

    {% endif %}

    <p>Ihr Auszahlungsbetrag beträgt <b>€{{ nicePayment }}</b>. Damit wir die Auszahlung vornehmen können, geben Sie bitte hier Ihre Auszahlungsdaten ein.</p>

    {% formfield player.email label="Ihre E-Mail-Adresse auf PayPal" %}

    <script type="text/javascript">
	    document.getElementsByName("email")[0].value = "";
    </script>
    
    <p>Mit dem Absenden dieses Formulars stimmen Sie den <a href="https://www.lab.uni-koeln.de/public/privacy.php" target="_new">Datenschutzbestimmungen des Kölner Laboratoriums für Wirtschaftsforschung</a> zu. Darüber hinaus erklären Sie sich damit einverstanden, dass Ihre Zahlungsdaten für die Zwecke der Zahlung verarbeitet werden dürfen. In diesem Rahmen übermitteln wir an PayPal Ihren Auszahlungsbetrag und Ihre E-Mail-Adresse. Die Datenschutzbestimmungen von PayPal finden Sie <a href="https://www.paypal.com/webapps/mpp/ua/privacy-full" target="_new">hier</a>. Ihre Verhaltensdaten werden nicht mit Ihren Auszahlungsdaten verknüpft.</p>

    {% next_button %}

{% endblock %}
