{% extends "global/Page.html" %}
{% load otree static %}
{% load staticfiles %}

{% block title %}
    Feedback
{% endblock %}

{% block content %}
<style>
    .qrCode {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .centering {
        text-align: left;
        margin-top: 30px;
        margin-right: 30px;
    }
</style>

<p>Vielen Dank für Ihre Teilnahme an diesem Experiment. Der folgende Link führt Sie zur Umfrage, in der Sie Probleme melden und uns Feedback geben können. Wir freuen uns über jeden Hinweis, der unser Experiment und die Erfahrung der Teilnehmer verbessern könnte.</p>    
<div>
    <a href="https://experiment.lab.uni-koeln.de/index.php/188721?lang=de" target="_blank">https://experiment.lab.uni-koeln.de/index.php/188721?lang=de</a>
</div>
<div>
    <img class="qrCode" src="{% static "feedbackQRCode.png" %}">
</div>

<form method="post" role="form" id="form" autocomplete="off">{% csrf_token %}
    <div class="centering" id="next" style="display:none;">
        {% next_button %}
    </div>
</form>

<script>
    const myForm = document.getElementById('next');
    setTimeout(() => {
    myForm.style.display = 'block';
    }, "{{feedback_next_button_timeout}}" * 1000);
</script>
        
{% endblock %}
