{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Vielen Dank
{% endblock %}

{% block content %}
    <style>
        .qrCode {
            margin-top: 30px;
            margin-bottom: 30px;
        }
    </style>

    <p>Die folgenden Daten wurden übernommen:</p>
    
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>E-Mail-Adresse auf PayPal</th><td>{{ emailEntered }}</td>
            </tr>
            <tr>
                <th>Auszahlungsbetrag</th><td>{{ nicePayment }} €</td>
            </tr>
        </table>
    </div>
    
    <p><i>Wenn diese Angaben Ihrer Meinung nach fehlerhaft sind, müssen Sie <b>jetzt</b> das Labor kontaktieren und dabei den Code <tt>{{ player.emergency_code }}</tt> angeben: <a href="mailto:experiment@lab.uni-koeln.de?subject=Auszahlung%20{{ player.emergency_code }}">experiment@lab.uni-koeln.de</a>.</i></p>
    
    <p>Wenn Sie keine weiteren Anweisungen haben, ist das Experiment nun abgeschlossen. Sie können nun den Browser schließen.</p>

    <p>Die Zahlung erfolgt innerhalb von drei Werktagen. Bitte kontaktieren Sie das Labor erst nach Ablauf dieser Frist. Bitte geben Sie bei Ihren Nachrichten an uns stets den Code <tt>{{ player.emergency_code }}</tt> an. Ohne diesen Code ist eine Bearbeitung Ihrer Anfrage nicht möglich.</p>

    <p>Die Verwendung dieses Auszahlungsformular stellt sicher, dass Ihre Verhaltensdaten nicht mit Ihren Auszahlungsdaten verknüpft werden können. Wir danken Ihnen für Ihr Verständnis. <a href="https://gitlab.com/cler1/AnonPay" target="_new">Erfahren Sie mehr über dieses Auszahlungsformular.</a></p>
    
    {% next_button %}

    <audio id="my_audio" src="{% static "notification.mp3" %}"></audio>
    <script>
        window.onload = function() {
            document.getElementById("my_audio").play();
        }
    </script>
    
{% endblock %}
