
.front-end-controller{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-color: grey;
    opacity: .8; 
}
.top-banner{
    border: rgb(200, 200, 200) 2px solid;
    background-color: rgb(230, 230, 230);
    width: 100%;
    height: 150px;
}
.graph-row{
    padding: 0px;
    margin: 0px;
}
.profit-graph-container {
    float: left;
    position: relative;
    height: 500px;
    /* margin: 40px; */
    width: 70%;
    background-color: rgb(255, 255, 255);
    padding: 5px;
}
.spread-graph-container {
    float: left;
    position: relative;
    height: 500px;
    /* margin: 20px; */
    width: 20%;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    /* border-style: solid; */
    /* border-width: 2px;
    border-color: blueviolet; */
}
.inputs{
    float: left;
    position: relative;
    height: 500px;
    width: 10%;
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.table{
    table-layout : auto;
    padding-bottom: 0px;
}