{% load otree_tags staticfiles %}

<h2>
    Welcome, and thank you for participating!
</h2>

<p>
    From now until the end of the experiment, please turn off your phone and do not communicate with other participants. If you have any questions, please raise your hand; an experimenter will come and answer your question. Please pay careful attention to the instructions as real money is at stake. 
    During the experiment you will earn Experimental Currency Units (ECUs) and at the end of the experiment all your earnings will be converted to US dollars at the rate written on the whiteboard. You are guaranteed a show up fee of $7.00 but can earn considerably more.   
</p>

<h3>
    Basic Ideas
</h3>

<p>
    In this experiment you will participate in a simple automated financial market. Using information displayed on your screen as in Figure 1, you will set and adjust trading algorithms (bots) so as to earn as many ECUs as you can.  As explained below, your earnings will depend on the settings you choose and on the choices of the other five participants in your group. There will be eight trading periods, each lasting five minutes, after which the experiment will end and you will be paid.
</p>
<img src="{% static 'hft_bcs/instruction_images/CDA_screenshot.png' %}">
