{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load staticfiles %}

{% block content %}
    <!-- front_end_controller defines the whole user interface -->
    <div class="front_end_controller">
        
        <!-- info-table is the top information diplay -->
        <div class="top-banner">
        <info-table></info-table>
        </div>
        <!-- new row defining the interactive part of the front end -->
        <div class="row">
            
            <!-- left most graph displaying users changing profit -->
            <profit-graph></profit-graph>
            
            <!-- middle graph displaying and able to be clicked to show spread  -->
            <interactive-component></interactive-component>
            <!-- <spread-graph></spread-graph> -->
            
            <!-- right most section comprised of the strategy buttons -->
            <!-- <input-section></input-section> -->
        
        </div>
    </div>
    <div class="overlay"></div>
<script>
    //Stores all the constants defined in Constansts in models.py and pulled from a presumed manifest file of some sort
    let otree = {};

        otree.fileReady = true;
        

</script>
{% endblock %}

{% block styles%}
<link rel="stylesheet" type = "text/css" href="{% static 'hft_bcs/leeps/leeps.css'%}"/>
{% endblock %}

{% block scripts %}
    <script src="https://d3js.org/d3.v5.js"></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="https://momentjs.com/downloads/moment-timezone.min.js"></script>
    <link rel="manifest" href="{% static 'hft_bcs/manifest.json' %}">
    <script src="{% static 'hft_bcs/node_modules/@webcomponents/webcomponentsjs/webcomponents-loader.js' %}"></script>
    <script type="module" src="{% static 'hft_bcs/input-section/input-section.js' %}"></script>
    <script type="module" src="{% static 'hft_bcs/spread-graph/spread-graph.js' %}"></script>
    <script type="module" src="{% static 'hft_bcs/profit-graph/profit-graph.js' %}"></script>
    <script type="module" src="{% static 'hft_bcs/info-table/info-table.js' %}"></script>
    <script type="module" src="{% static 'hft_bcs/interactive-component/interactive-component.js' %}"></script>
    <script type="module" src="{% static 'hft_bcs/message-handler.js' %}"></script>
    
<script>
    //All socket actions are stored in this object to be used in the seperated js files
    let socketActions = {};

    /*
    Socket Actions
    */
    //Socket Connection
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    //Needs to be in index page because Django string replacement of player.market and player.id
    var socket = new WebSocket(ws_scheme + '://' + window.location.host + "/hft/{{player.market}}/{{player.id}}/");
    socketActions.socket = socket;


    let spreadGraph = {};

    let profitGraph = {};

    let inputSection = {};

    let interactiveComponent = {};
    /*  
        example
        playersInMarket = {
            playerID(1):{ 
                orders: [ 
                    {
                        tok: "SUBAS000000045", price: 986243
                    },
                    {
                        tok: "SUBAS000000046", price: 966243
                    }
                ]
            strategy: "manual"
            }
            playerID(n):{ 
                orders: [ 
                    {
                        tok: "...", price: ...
                    },
                    {
                        tok: "...", price: ...
                    }
                ]
            strategy: "manual" || "out" || "algo1" || "algo2"
            }
        }
    */
    


    /*  
    IMPORTANT:
    Constant, Player, and Group Information from oTree stored in the otree objects
    */
    otree.groupIDInfoTable = {{group.id_in_subsession}};
    otree.groupID = {{group.id}};
    otree.playerID = {{player.id}};
    otree.playerIDInGroup = {{player.id_in_group}}; 
    otree.maxSpread = {{player.max_spread}}; 
    otree.defaultSpread = {{player.spread}};
    otree.startingWealth = {{player.endowment}};
    otree.startFP = {{player.fp}}; 
    otree.smallestSpread = {"key":-1, "spread":otree.maxSpread};
    otree.min_spread = 100;
    otree.roundLength = {{subsession.round_length}};
    otree.speedLongDelay = {{Constants.long_delay}} * (1e3);
    otree.speedShortDelay = {{Constants.short_delay}} * (1e3);
    otree.speedCost = {{player.speed_unit_cost}};
    otree.endMsg = "off";
    otree.batchLength = {{subsession.batch_length}}; // Set to zero if there is a FBA experiment, sends error otherewise
    otree.design ="{{subsession.design}}"; //Design Variable to be pulled from the backend
    otree.CDA = false; //Continuous Double Auction
    otree.FBA = false; //Frequent Batch Auction
    otree.IEX = false; //Continuous Double Auction
    otree.sync = false;      //When player syncs at beginning  of expirement this is turned to true
    otree.offset = 0;  

    if(otree.design == "CDA"){
        otree.CDA  = true; 
    } else if(otree.design == "FBA"){
        otree.FBA = true;
    } else if(otree.design == "IEX"){
        otree.IEX = true;
    }


    let playersInMarket = {}; 
    //DO FOR ALL PLAYERS IN THE MARKET INITIALIZE PLAYER OBJECT 
    playersInMarket[otree.playerIDInGroup] = {};
    


/*
IMPORTANT:
Graph_Features is an object that stores the features of the profit and spread graph that are only able to be retrieved in index.html. This object is used in spread-graph.js and profit-graph.js
*/

    //SPREAD GRAPH
    
    // spreadGraph.spread_x = document.querySelector("spread-graph").getBoundingClientRect().left;
    // spreadGraph.spread_y = document.querySelector("spread-graph").getBoundingClientRect().top;
    spreadGraph.spread_lines = {};

    spreadGraph.last_spread =  otree.defaultSpread/10000;

    //PROFIT GRAPH
    profitGraph.profit_width = document.querySelector("profit-graph").clientWidth;
    profitGraph.profit_height = document.querySelector("profit-graph").clientHeight;

/*
In order for our Shadow DOM Elements to be acessable in javascript we must set the mode to 'open', 'closed' is the other option and would restrict access to the Shadow DOM Elements. Since they are now open we can access them with js in their corressponding .js files
*/
   
    document.querySelector("profit-graph").attachShadow({mode: 'open'});
    document.querySelector("interactive-component").attachShadow({mode: 'open'});
 
    /*
    * If CDA start the profit-graph
    * Initialize the info-table
    * Set experiment timer on experiment based on the round length set by the configs
    */
    otree.startExperiment = function (){

                                profitGraph.adminStartTime = profitGraph.getTime();
                                profitGraph.profitSegments = [
                                    {
                                        startTime:profitGraph.adminStartTime,
                                        endTime:profitGraph.adminStartTime, 
                                        startProfit:profitGraph.profit, 
                                        endProfit:profitGraph.profit,
                                        state:"OUT"
                                    }
                                ];
                                profitGraph.init(otree.startFP, profitGraph.startingWealth, "secondTick");
                                requestAnimationFrame(profitGraph.draw);

                                /** Initializing all info table values **/
                                document.querySelector('info-table').setAttribute("player_id","{{player.id_in_group}}");
                                document.querySelector('info-table').setAttribute("period_id",{{group.round_number}} - 1); 
                                document.querySelector('info-table').setAttribute("speed_cost","0"); 
                                document.querySelector('info-table').setAttribute("num_traders","0"); 
                                document.querySelector('info-table').setAttribute("player_role","OUT"); 
                                document.querySelector('info-table').setAttribute("spread_value","N/A");     
                                document.querySelector('info-table').setAttribute("num_makers","0"); 
                                document.querySelector('info-table').setAttribute("num_snipers","0"); 
                                document.querySelector('info-table').setAttribute("profit",otree.startingWealth*(1-4)); 
                                document.querySelector('info-table').setAttribute("fp"," "+ {{player.fp}} * (1e-4) + " "); 
                                document.querySelector('info-table').setAttribute("curr_bid","N/A"); 
                                document.querySelector('info-table').setAttribute("curr_ask","N/A");
                                document.querySelector('info-table').setAttribute("group_id",otree.groupIDInfoTable);

                                document.querySelector(".overlay").style.opacity = 0;
                                document.querySelector(".overlay").style.pointerEvents = 'none';
                             }


    otree.advancePlayer = function (){
                            profitGraph.clear();
                            spreadGraph.clear();
                            otree.endMsg = "on";

                            document.querySelector(".overlay").style.opacity = 0.95;
                            document.querySelector(".overlay").style.pointerEvents = 'all';
                            document.querySelector(".overlay").innerHTML = "<h1 style='font-weight:bold; opacity:1.0;'>End Period, calculating results!</h1>";
                        }

    //Send player ready messages to backend between 1-5 seconds after player loads screen (wait for all other players)
    window.setTimeout(function(){
            otree.playerReady();  
    },Math.floor(Math.random() * 5000) + 1000); // Given a random number between 1000 & 6000

</script>


{% endblock %}