{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Results
{% endblock %}

{% block content %}
<style>
    h1{
        text-align:center;
    }
    h3{
        text-align:center;
    }
    #container{
        margin-left:30px;
        margin-right:30px;
        margin-top:50px;
    
    }
</style>
<div id="container">
    <h1>
        The session has completed.
    </h1>
    <br>
    <p>Here are your results, player <strong>{{player.id_in_group}}</strong>:</p>

    <p>
        You have accumulated <strong>{{total_payoff}}</strong> in experimental currency units (ECU).
    </p>
    <!-- maybe some statistics of everyone elses payoff how you did? -->
    {% if random_round_pay %}
    <p>
        Dollar payoff round is chosen randomly for each participant.
        Yours were selected as round {{payoff_round}}.
    </p>
    {% endif %}
    <br>
    <!-- <h3> You will receive 
        {% if random_round_pay %} 
        <strong>{{round_payoff}}</strong>  
        {% else %} 
        <strong>{{total_payoff}}.</strong>  
        {% endif %} -->
</div>
{% endblock %}