{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Results
{% endblock %}

{% block content %}
<style>
    h1{
        text-align:center;
    }
    h3{
        text-align:center;
    }
    #container{
        margin-left:30px;
        margin-right:30px;
        margin-top:50px;
    
    }
</style>
<div id="container">
    <h3>
       Thank you, the session has completed.
    </h3>
    <br>
    <p>Here are your results, player <strong>{{player.id_in_group}}</strong>:</p>
    {% if payoff_round %}
    <p>
        Dollar payoff round is chosen randomly for each participant.
        Yours were selected as round {{payoff_round}}.
    </p>
    {% endif %}
    <p>
        Your average profit is <strong>{{payoff}}</strong> ECUs. 
        Divided by the exchange rate of <strong>{{session.config.real_world_currency_per_point}}</strong>,
        this amount translates to <strong>{{player.participant.payoff | c}}</strong>.
        Your show up fee is <strong>{{session.config.participation_fee}}</strong>.
        Thus, your total profit is <strong>{{payoff_plus_participation}}</strong>.
        
    </p>

    <!-- maybe some statistics of everyone elses payoff how you did? -->

    <br>
</div>
{% endblock %}