{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Enlace para pagos
{% endblock %}

{% block content %}

    Para proceder con tu pago, entra al enlace abajo, el cual te redirigirá a un formulario para brindar la información
    correspondiente.
    <br><br>
    <a target="_blank" href="https://forms.gle/bdeJJVWAVRMKUCTm8">https://forms.gle/bdeJJVWAVRMKUCTm8</a>
    </br>
    <br>
    Además, deberás colocar tu etiqueta de participante: <br> <br> <h4 align="middle">{{ participant_id }}</h4>
    <br>
    Los datos que brindes en ese formulario no se combinarán con los datos de la interacción y no afectarán el monto de tu
    pago.
    <br><br>
    ¡Gracias, nuevamente!
    <br><br>
    El Equipo E2LabUP

{% endblock %}


